{% extends ajax_data ? "/source/ajax_wrapper.html" : "/source/wrapper_index.html" %}

{% set global_search = true %}
{% block body %}
    <script>
        $(document).ready(function(){
            $(".form_tabs_counter").each(function(){
                var value = parseInt($(this).text());
                if (value > 0)
                {
                    $(this).parent().tab('show');
                    return false;
                }
            });
        });
    </script>
    <div class="jumbotron" style="position: relative;">
        {% include "/source/crumbs.html" %}
        {% if has_result %}
        <ul class="nav nav-tabs" id="form_tabs" style="margin-top: 20px;">
            {% if search.tasks %}<li><a href="#tabs-1" style="padding-right: 30px;">Задачи <span class="form_tabs_counter label label-default" style="position: absolute; top:0;right: 0;padding:3px;">{{ search.tasks|length }}</span></a></li>{% endif %}
            {% if search.news %}<li><a href="#tabs-2" style="padding-right: 30px;">Новости <span class="form_tabs_counter label label-default" style="position: absolute; top:0;right: 0;padding:3px;">{{ search.news|length }}</span></a></li>{% endif %}
            {% if search.wiki %}<li><a href="#tabs-3" style="padding-right: 30px;">Wiki <span class="form_tabs_counter label label-default" style="position: absolute; top:0;right: 0;padding:3px;">{{ search.wiki|length }}</span></a></li>{% endif %}
            {% if search.discus %}<li><a href="#tabs-4" style="padding-right: 30px;">Обсуждения <span class="form_tabs_counter label label-default" style="position: absolute; top:0;right: 0;padding:3px;">{{ search.discus|length }}</span></a></li>{% endif %}
            {% if search.comments %}<li><a href="#tabs-5" style="padding-right: 30px;">Комментарии <span class="form_tabs_counter label label-default" style="position: absolute; top:0;right: 0;padding:3px;">{{ search.comments|length }}</span></a></li>{% endif %}
            {% if search.users %}<li><a href="#tabs-6" style="padding-right: 30px;">Участники <span class="form_tabs_counter label label-default" style="position: absolute; top:0;right: 0;padding:3px;">{{ search.users|length }}</span></a></li>{% endif %}
        </ul>
        <div class="tab-content">
        {% if search.tasks %}
            <div id="tabs-1" class="tab-pane fade in active">
                {% set tasks = search.tasks %}
                {% include app.path('projects','tasks/tasks_table.html') %}
            </div>
        {% endif %}
        {% if search.news %}
            <div id="tabs-2" class="tab-pane">
                <table class="table table-hover table_style">
                    <thead>
                    <tr>
                        <th style="padding-left: 0 !important;">Проект</th>
                        <th style="width: 90%;">Название</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in search.news %}
                        <tr>
                            <td style="padding-left: 0 !important;">{{ s.project_name }}</td>
                            <td><a class="pajax" href="/projects/{{ s.type_entity }}/show/{{ s.id_project }}/{{ s.id }}">{{ s.name }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if search.wiki %}
            <div id="tabs-3" class="tab-pane">
                <table class="table table-hover table_style">
                    <thead>
                    <tr>
                        <th style="padding-left: 0 !important;">Проект</th>
                        <th style="width: 90%;">Название</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in search.wiki %}
                        <tr>
                            <td style="padding-left: 0 !important;">{{ s.project_name }}</td>
                            <td><a class="pajax" href="/projects/{{ s.type_entity }}/show/{{ s.id_project }}/{{ s.id }}">{{ s.name }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if search.discus %}
            <div id="tabs-4" class="tab-pane">
                <table class="table table-hover table_style">
                    <thead>
                    <tr>
                        <th style="padding-left: 0 !important;">Проект</th>
                        <th style="width: 90%;">Название</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in search.discus %}
                        <tr>
                            <td style="padding-left: 0 !important;">{{ s.project_name }}</td>
                            <td><a class="pajax" href="/projects/{{ s.type_entity }}/show/{{ s.id_project }}/{{ s.id }}">{{ s.name }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if search.comments %}
            <div id="tabs-5" class="tab-pane">
                <table class="table table-hover table_style">
                    <thead>
                    <tr>
                        <th style="padding-left: 0 !important;">Проект</th>
                        <th>Тип</th>
                        <th>Название</th>
                        <th>Комментарий</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for s in search.comments %}
                        <tr>
                            <td style="padding-left: 0 !important;">{{ s.project_name }}</td>
                            <td><span class="label log_{{ s.type_entity }} logs_table_sidebar_span">{{ ("type_"~s.type_entity)|lang|first }}</span></td>
                            <td><a class="pajax" href="/projects/{{ s.type_entity }}{% if s.type_entity == 'task' %}s{% endif %}/show/{{ s.id_project }}/{{ s.id_entity }}#comment_{{ s.id }}">{{ s.name }}</a></td>
                            <td class="comment_body">{{ s.text|raw }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if search.users %}
            <div id="tabs-6" class="tab-pane">
                {% set users = search.users %}
                {% include app.path('users','users_table.html') %}
            </div>
        {% endif %}
        </div>
        {% else %}
            ничего не найдено
        {% endif %}
    </div>
{% endblock %}