{% extends get_data.mode ? "/source/print.html" : "/source/wrapper_index.html" %}

{% block title  %}
    Общие результаты
{% endblock %}
{% block css %}
    <link href="{{ app.path('results','style.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{{ app.path('/source/js/chart/dist/','Chart.min.js',true) }}"></script>
    {% if get_data.mode == 'print' %}
        <script>
            $(document).ready(function(){
                setTimeout(window.print, 3000);
            });
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <h1 class="h1">Отчет «Общие результаты»</h1>

    {% if not get_data.mode %}
		<div class="btn-toolbar">
			<div class="btn-group" role="group">
				<a href="?mode=print" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Распечатать</a>
				<a href="?mode=excel" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить как Excel</a>
			</div>
			<div class="btn-group pull-right" role="group">
				<a href="/methods/types/reports_overall/" class="btn btn-info"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Анализ результатов</a>
			</div>
		</div>
    {% endif %}

    <h2>Таблица</h2>
    {% include app.path('results','start/report1.html') %}

    <div class="print_break"></div>
    <h2 style="margin-top:40px">Диаграмма «Показатели по классу»</h2>
    <script>
        $(document).ready(function(){
            var labels = [
                {% for d in dp %}
                    {% for dd in d %}
                    "{{ dd.short_name }}",
                    {% endfor %}
                {% endfor %}
            ];

            var dataset = [
                {% for d in dp %}
                {% for dd in d %}
                "{{ (total[dd.id]/students|length)|round(2,'floor')|replace(',','.') }}",
                {% endfor %}
                {% endfor %}
            ];

            var data = {
                labels: labels,
                datasets: [
                    {
                        label: "Средние по классу",
                        backgroundColor: "#5b9bd5",
                        data: dataset,
                    }
                ],
            };

            Chart.defaults.global.defaultFontColor = "#000";
            var ctx = $("#chart");
            new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    legend: {
                        position: 'bottom',
                    },
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: "Результат по показателю",
                            },
                            ticks: {
                                min: 0
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontSize: 14,
                                maxRotation: 90
                            }
                        }]
                    }
                }
            });
        });
    </script>
    <canvas id="chart" class="print_canvas"></canvas>

    {% if not get_data.mode %}
	<div class="btn-toolbar">
		<div class="btn-group" role="group">
			<a href="?mode=print" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Распечатать</a>
			<a href="?mode=excel" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить как Excel</a>
		</div>
		<div class="btn-group pull-right" role="group">
			<a href="/methods/types/reports_overall/" class="btn btn-info"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Анализ результатов</a>
		</div>
	</div>
    {% endif %}
{% endblock %}