{% extends get_data.mode ? "/source/print.html" : "/source/wrapper_index.html" %}

{% block title  %}
    Группы стартовой готовности
{% endblock %}
{% block css %}
    <link href="{{ app.path('results','style.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{{ app.path('/source/js/chart/dist/','Chart.min.js',true) }}"></script>
    {% if get_data.mode == 'print' %}
        <script>
            $(document).ready(function(){
                setTimeout(window.print, 3000);
            });
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <h1 class="h1">Отчет «Группы стартовой готовности»</h1>

    {% if not get_data.mode %}
        <div class="btn-toolbar">
			<div class="btn-group" role="group">
				<a href="?mode=print" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Распечатать</a>
				<a href="?mode=excel" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить как Excel</a>
				
			</div>
            <div class="btn-group pull-right" role="group">
				<a href="/methods/types/report_groups/" class="btn btn-info"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Анализ результатов</a>
			</div>
        </div>
    {% endif %}

    <h2 style="margin-top:40px">Таблица «Группы стартовой готовности»</h2>
    {% include app.path('results','start/report_group1.html') %}

    <h2 style="margin-top:40px">Таблица «Распределение по группам»</h2>
    {% include app.path('results','start/report_group2.html') %}

    <h2 style="margin-top:40px">Диаграмма «Распределение по группам»</h2>

    <script>
        $(document).ready(function(){
            var labels = [
                {% for g in groups %}
                    "Группа {{ g }} ({{ (group_students[g]|length*100/students|length)|round(2,'floor')|replace(',','.') }}%)",
                {% endfor %}
            ];

            var dataset = [
                {% for g in groups %}
                    "{{ (group_students[g]|length*100/students|length)|round(2,'floor')|replace(',','.') }}",
                {% endfor %}
            ];

            var data = {
                labels: labels,
                datasets: [
                    {
                        backgroundColor: [
                            "#A0522D",
                            "#FF8C00",
                            "#FF7F50",
                            "#FFDAB9"
                        ],
                        data: dataset,
                    }
                ]
            };

            Chart.defaults.global.defaultFontColor = "#000";
            var ctx = $("#chart");
            new Chart(ctx, {
                type: 'pie',
                data: data,
                options: {
                    legend: {
                        position: 'bottom'
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                var allData = data.datasets[tooltipItem.datasetIndex].data;
                                var tooltipLabel = data.labels[tooltipItem.index];
                                var tooltipData = allData[tooltipItem.index];
                                return tooltipLabel + ': ' + tooltipData + '%';
                            }
                        }
                    }
                }
            });
        });
    </script>
    <canvas id="chart" class="print_canvas"></canvas>

    {% if not get_data.mode %}
        <div class="btn-toolbar">
			<div class="btn-group" role="group">
				<a href="?mode=print" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Распечатать</a>
				<a href="?mode=excel" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить как Excel</a>
				
			</div>
            <div class="btn-group pull-right" role="group">
				<a href="/methods/types/report_groups/" class="btn btn-info"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Анализ результатов</a>
			</div>
        </div>
    {% endif %}
{% endblock %}