{% extends get_data.mode ? "/source/print.html" : "/source/wrapper_index.html" %}

{% block title  %}
    Индивидуальные результаты
{% endblock %}
{% block css %}
    <link href="{{ app.path('results','style.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{{ app.path('/source/js/chart/dist/','Chart.min.js',true) }}"></script>
    {% if get_data.mode == 'print' %}
        <script>
            $(document).ready(function(){
                setTimeout(window.print, 3000);
            });
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <h1 class="h1">Отчет «Индивидуальные результаты»</h1>

    {% if not get_data.mode %}
        <div class="btn-toolbar">
			<div class="btn-group" role="group">
				<a href="?mode=print" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Распечатать</a>
				<a href="?mode=excel" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить как Excel</a>
			</div>
            <div class="btn-group pull-right" role="group">
				<a href="/methods/types/reports_individual/" class="btn btn-info"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Анализ результатов</a>
			</div>
        </div>
    {% endif %}

    <h2 style="margin-top:40px">Таблица</h2>
    {% include app.path('results','start/report_individual.html') %}

    <h2 style="margin-top:40px">График «Индивидуальные результаты на фоне результатов класса»</h2>
    <script>
        $(document).ready(function(){
            var labels = [
                {% for d in dp %}
                {% for dd in d %}
                "{{ dd.short_name }}",
                {% endfor %}
                {% endfor %}
            ];

            var dataset1 = [
                {% for d in dp %}
                {% for dd in d %}
                "{{ results[students[id].id][dd.id] }}",
                {% endfor %}
                {% endfor %}
            ];

            var dataset2 = [
                {% for d in dp %}
                {% for dd in d %}
                "{{ (total[dd.id]/students|length)|round(2,'floor')|replace(',','.') }}",
                {% endfor %}
                {% endfor %}
            ];

            var data = {
                labels: labels,
                datasets: [
                    {
                        label: "Результаты ребенка",
                        data: dataset1,
                        fill: false,
                        lineTension: 0.1,
                        borderColor: "#ed7d31",
                        backgroundColor: "#ed7d31",
                    },
                    {
                        label: "Результаты класса/группы",
                        data: dataset2,
                        fill: false,
                        lineTension: 0.1,
                        borderColor: "#5c9cd5",
                        backgroundColor: "#5c9cd5",
                    }
                ],
            };

            Chart.defaults.global.defaultFontColor = "#000";
            var ctx = $("#chart");
            new Chart(ctx, {
                type: 'line',
                data: data,
                options: {
                    legend: {
                        position: 'bottom'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: 3,
                                stepSize: 0.5,
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontSize: 14,
                                maxRotation: 90
                            }
                        }]
                    }
                }
            });
        });
    </script>
    <canvas id="chart" class="print_canvas"></canvas>

    {% if not get_data.mode %}
        <div class="btn-toolbar">
			<div class="btn-group" role="group">
				<a href="?mode=print" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Распечатать</a>
				<a href="?mode=excel" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить как Excel</a>
			</div>
            <div class="btn-group pull-right" role="group">
				<a href="/methods/types/reports_individual/" class="btn btn-info"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Анализ результатов</a>
			</div>
        </div>
    {% endif %}
{% endblock %}