{% extends get_data.mode ? "/source/print.html" : "/source/wrapper_index.html" %}

{% block title  %}
    Уровни инструментальной и личностной готовности
{% endblock %}
{% block css %}
    <link href="{{ app.path('results','style.css') }}" rel="stylesheet">
{% endblock %}

{% block js  %}
    {% if get_data.mode == 'print' %}
        <script>
            $(document).ready(function(){
                setTimeout(window.print, 3000);
            });
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <h1 class="h1">Отчет «Уровни инструментальной и личностной готовности»</h1>

    {% if not get_data.mode %}
        <div class="btn-toolbar">
			<div class="btn-group" role="group">
				<a href="?mode=print" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Распечатать</a>
				<a href="?mode=excel" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить как Excel</a>
			</div>
            <div class="btn-group pull-right" role="group">
				<a href="/methods/types/levels_of_instrumental_and_personal_readiness/" class="btn btn-info"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Анализ результатов</a>
			</div>
        </div>
    {% endif %}

    <h2 style="margin-top:40px">Таблица</h2>
    {% include app.path('results','start/report2.html') %}
    <dl class="dl-horizontal">
        <dt>БУ </dt>
        <dd>– базовый уровень</dd>
        <dt>НБУ</dt>
        <dd>– ниже базового уровень</dd>
    </dl>

    {% if not get_data.mode %}
        <div class="btn-toolbar">
			<div class="btn-group" role="group">
				<a href="?mode=print" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Распечатать</a>
				<a href="?mode=excel" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить как Excel</a>
			</div>
            <div class="btn-group pull-right" role="group">
				<a href="/methods/types/levels_of_instrumental_and_personal_readiness/" class="btn btn-info"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Анализ результатов</a>
			</div>
        </div>
    {% endif %}
{% endblock %}