<table class="table table-bordered th_centered vertical-text table-condensed">
  <tr>
    <th colspan="4" style="text-align: left;">Класс / группа ДОУ: <span class="group_name">{{ ug.name }}</span></th>
  </tr>
  <tr>
    <th rowspan="4" style="width: 40px;">
      {% set height = 21 %}
      <svg width="12" height="{{ height*8+10 }}">
        <text x="10" y="{{ height*8/2+5 }}" transform="rotate(-90, 10, {{ height*8/2+5 }})" style="text-anchor:middle; font-size:14px">Личностная готовность</text>
      </svg>
    </th>
    <td rowspan="2"></td>
    <th colspan="2">Инструментальная готовность</th>
  </tr>
  <tr>
    <td class="td_centered" style="width: 25%;">Базовый уровень</td>
    <td class="td_centered" style="width: 25%;">Уровень ниже базового</td>
  </tr>
  <tr>
    <td class="td_centered">Базовый уровень</td>
    <td class="group1 td_centered">
      <div>Группа 1.</div>
      <div>{{ group_students[1]|length }} уч. ({{ (group_students[1]|length*100/students|length)|round(2,'floor')|replace(',','.') }}%)</div>
    </td>
    <td class="group3 td_centered">
      <div>Группа 3.</div>
      <div>{{ group_students[3]|length }} уч. ({{ (group_students[3]|length*100/students|length)|round(2,'floor')|replace(',','.') }}%)</div>
    </td>
  </tr>
  <tr>
    <td class="td_centered">Уровень ниже базового</td>
    <td class="group2 td_centered">
      <div>Группа 2.</div>
      <div>{{ group_students[2]|length }} уч. ({{ (group_students[2]|length*100/students|length)|round(2,'floor')|replace(',','.') }}%)</div>
    </td>
    <td class="group4 td_centered">
      <div>Группа 4.</div>
      <div>{{ group_students[4]|length }} уч. ({{ (group_students[4]|length*100/students|length)|round(2,'floor')|replace(',','.') }}%)</div>
    </td>
  </tr>
</table>