<table class="table table-bordered th_centered vertical-text table-condensed">
  <thead>
  <tr>
    <th colspan="4">«Школьный старт». Индивидуальные результаты</th>
  </tr>
  <tr>
    <th colspan="3" class="td_centered">ФИО ребенка: <span class="group_name">{{ students[id].fio }}</span></th>
    <th rowspan="2" class="td_centered">Класс/группа ДОУ
    <div><span class="group_name">{{ ug.name }}</span></div>
    </th>
  </tr>
  <tr>
    <th colspan="3" class="td_centered">Группа стартовой готовности: <span class="group_name">{{ students[id].group }}</span></th>
  </tr>
  <tr>
    <th class="td_centered" style="width: 40px;">Компоненты стартовой готовности</th>
    <th class="td_centered">Показатели</th>
    <th class="td_centered">Балл ребенка</th>
    <th class="td_centered">Значение по классу/группе</th>
  </tr>
  </thead>

{% for k,g in gdp %}
    <tr>
    {% set length = dp[k]|length %}
    {% set height = g.name|length %}
    <th rowspan="{{ length }}">
        <svg width="12" height="{{ height*8+10 }}">
            <text x="10" y="{{ height*8/2+5 }}" transform="rotate(-90, 10, {{ height*8/2+5 }})" style="text-anchor:middle; font-size:14px">{{ g.name }}</text>
        </svg>
    </th>

    {% for dd in dp[k] %}
        {% if not loop.first %}</tr><tr>{% endif %}
        <td class="td_centered">{{ dd.short_name }}</td>
        <td class="td_centered">{{ results[students[id].id][dd.id] }}</td>
        <td class="td_centered">{{ (total[dd.id]/students|length)|round(2,'floor')|replace(',','.') }}</td>
        {% if not loop.first %}</tr>{% endif %}
    {% endfor %}
    {% if not loop.last %}</tr>{% endif %}
{% endfor %}
</table>