<table class="table table-bordered th_centered vertical-text table-condensed">
  <thead>
  <tr>
    <th colspan="4" style="text-align: left;">Класс / группа ДОУ: <span class="group_name">{{ ug.name }}</span></th>
  </tr>
  <tr>
    <th colspan="4">Группы</th>
  </tr>
  <tr>
      {% set max = 0 %}
      {% for g in groups %}
          <th class="group{{ g }} td_centered" style="width: {{ 100/groups|length }}%">
              <div>{{ g }}</div>
              <div>{{ group_students[g]|length }} уч. ({{ (group_students[g]|length*100/students|length)|round(2,'floor')|replace(',','.') }}%)</div>
          </th>
          {% if max < group_students[g]|length %}
              {% set max = group_students[g]|length %}
          {% endif %}
      {% endfor %}
  </tr>
  </thead>
    {% for i in 0..max-1 %}
        <tr>
              {% for g in groups %}
                  <td class="td_centered">{{ group_students[g][i] }}</td>
              {% endfor %}
        </tr>
    {% endfor %}
</table>