{% if edit %}
<form id="edit_student">
  <input type="hidden" name="act" value="save">
  <input type="hidden" name="id" value="{{ students[0].id }}">
  <input type="hidden" name="id_study_group" value="{{ id_study_group }}">
{% endif %}
<table class="table table-bordered th_centered vertical-text table-condensed">
  <thead>
  <tr>
    <th></th>
    {% set index = 1 %}
    {% for d in dp %}
      {% for dd in d %}
        {% set index = index + 1 %}
      {% endfor %}
      {% if show_summary %}
        {% set index = index + 1 %}
      {% endif %}
    {% endfor %}
    <th colspan="{{ index }}">"Школьный старт". Общие результаты.</th>
  </tr>
  <tr>
    <th>Класс / группа ДОУ: <span class="group_name">{{ ug.name }}</span></th>
    {% for k,g in gdp %}
      {% set length = dp[k]|length %}
      {% if show_summary %}
        {% set length = length + 1 %}
      {% endif %}
      <th colspan="{{ length }}">{{ g }}</th>
    {% endfor %}
  </tr>
  <tr>
    <th rowspan="2" style="vertical-align: middle;">Фамилия, Имя</th>
    {% set index = 1 %}
    {% set height = 0 %}
    {% for d in dp %}
      {% for dd in d %}
        <th>{{ index }}</th>
        {% set index = index + 1 %}
        {% if height < dd.short_name|length %}{% set height = dd.short_name|length %}{% endif %}
      {% endfor %}
      {% if show_summary %}
        <th rowspan="2" class="bsilver">&sum;</th>
      {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for d in dp %}
      {% for dd in d %}
        <th class="td_centered">
          <svg width="12" height="{{ height*8+10 }}">
            <text x="10" y="{{ height*8/2+5 }}" transform="rotate(-90, 10, {{ height*8/2+5 }})" style="text-anchor:middle; font-size:14px">{{ dd.short_name }}</text>
          </svg>
        </th>
      {% endfor %}
    {% endfor %}
  </tr>
  </thead>
  {% for s in students %}
    {% if (id and s.id == id) or not id %}
    <tr>
      <td {% if not edit %}style="width: 100%;"{% endif %}>
        {% if edit %}
          <input type="text" name="fio" value="{{ s.fio }}" style="width: 250px;">
        {% else %}
        {{ loop.index }}.
        {% if not edit and not show_summary and not get_data.mode %}
          <a href="" class="edit_student underline_dashed" data-id="{{ s.id }}"> {{ s.fio }}</a>
        {% else  %}
        {{ s.fio }}
        {% endif %}
        {% endif %}
        {% if not edit and not show_summary and not get_data.mode %}
        <div class="pull-right">
			<a href="/results/report/individual/{{ ug.id }}/{{ s.id }}">Отчет "Индивидуальные результаты"</a>
        </div>
        {% endif %}
      </td>
      {% for d in dp %}
        {% set summ = 0 %}
        {% for dd in d %}
          {% set summ = summ + results[s.id][dd.id] %}
          <td class="td_centered {% if not edit %}
          {% if results[s.id][dd.id] == 0 and results[s.id][dd.id] is not null %}bg-danger{% elseif results[s.id][dd.id] == 1 %}bg-info{% elseif results[s.id][dd.id] == 2 %}bg-success{% endif %}
          {% endif %}">
            {% if edit %}
              <input type="number" name="dp[{{ dd.id }}]" value="{{ results[dd.id] }}"  style="width: 35px;" min="0" max="2" class="enter_value">
            {% else %}
            {{ results[s.id][dd.id] }}
            {% endif %}
          </td>
        {% endfor %}
        {% if show_summary %}
          <th class="td_centered bsilver">{{ summ }}</th>
        {% endif %}
      {% endfor %}
    </tr>
    {% endif %}
  {% endfor %}
  {% if show_summary %}
    <tr>
      <th style="text-align: left;">Значение по классу</th>
      {% for d in dp %}
        {% for dd in d %}
          <td class="td_centered bsilver">{{ (total[dd.id]/students|length)|round(2,'floor')|replace(',','.') }}</td>
        {% endfor %}
        <th class="td_centered"></th>
      {% endfor %}
    </tr>
  {% endif %}
</table>
{% if edit %}
  <div class="form-group">
    <label for="contacts">Контакты</label>
    <textarea class="form-control" name="contacts" id="contacts">{{ students[0].contacts }}</textarea>
  </div>
  <div class="form-group">
    <a href="" id="delete_student_confirm">Удалить все данные ребенка</a>
    <div id="delete_student_form">
      <div class="alert alert-danger" role="alert">Вы действительно хотите безвозвратно удалить данные ребенка?</div>
      <a href="" class="btn btn-danger" id="delete_student" data-id="{{ students[0].id }}">Удалить</a>
      <a href="" class="btn btn-default" id="delete_student_cancel">Отменить</a>
    </div>
  </div>
  <div class="alert alert-warning" id="force_save_alert" role="alert" style="display: none;">Вы внесли не все диагностические данные.</div>
{% endif %}
</form>