<table class="table table-bordered th_centered vertical-text table-condensed">
    <thead>
    <tr>
        <th colspan="{{ gdp|length * 2 + 2 }}" style="text-align: left;">Класс / группа ДОУ: <span class="group_name">{{ ug.name }}</span></th>
    </tr>
    <tr>
        <th rowspan="2">Фамилия, имя</th>
        {% for g in gdp %}
            <th colspan="2" class="td_centered">{{ g.name }}</th>
        {% endfor %}
        <th rowspan="2">Группа стартовой готовности</th>
    </tr>
    <tr>
        {% for g in gdp %}
            <th>Сумма<br> баллов</th>
            <th>Уровень</th>
        {% endfor %}
    </tr>
    </thead>
    {% for s in students %}
        {% if (id and s.id == id) or not id %}
            <tr>
                <td style="white-space: nowrap;">{{ loop.index }}. {{ s.fio }}</td>
                {% for g in gdp %}
                    <td class="td_centered">{{ total[s.id][g.id] }}</td>
                    <td class="td_centered">
                        {{ s[g.id].level_gdp.short_name }}
                    </td>
                {% endfor %}
                <td class="td_centered">{{ s.group }}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>