<tr data-id="{{d.id}}">
    <td>{{ d.name }}</td>
    <td>{{ d.short_name }}</td>
    <td>{{ d.min_value }}</td>
    <td>{{ d.max_value }}</td>
    <td class="td-align-middle" style="width: 1px;"><a title="Изменить" class="fa fa-15x fa-edit edit-btn" data-id="{{d.id}}"></a></td>
</tr>
