{% extends "/source/admin/index.html" %}
{% block title %}
    &rarr; Учащиеся
{% endblock %}

{% block js %}
    "{{app.path('students','admin.js')}}"
{% endblock %}

{% block body %}
    <form action="" id="search_form" method="post" style="margin-bottom:20px;">
        Поиск:&nbsp;<input type="text" name="search" class="input">
        <input type="hidden" name="page" value="">
    </form>
<div id="search_result">
{% include app.path('students','admin/table.html') %}
</div>
{% endblock %}