<div class="add_html">
<form id="edit_form">
    <input type="hidden" name="id" value="{{element.id}}">
    <input type="hidden" name="act" value="save">
    <input type="hidden" name="mode" value="{{mode|default('new')}}">
    <div class="body"><span class="title">ФИО:</span>
        <div><input type="text" name="fio" class="input" style="width:350px;" value="{{element.fio}}"></div></div>
    <div class="body"><span class="title">Учебная группа:</span>
        <select name="id_study_group">
            <option>&nbsp;</option>
            {% for c in groups %}
                <option value="{{ c.id }}" {% if c.id == element.id_study_group %}selected{% endif %}>{{ c.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="body"><span class="title">Контакты:</span>
        <textarea name="contacts" style="width: 98%;height: 100px;">{{ element.contacts }}</textarea>
</div>
</form>
</div>
