<li {% if level == 1 %} class="list-group-item"{% endif %}>
    <a {% if page.id_page == m.id %}class="active"{% endif %} href="{{ m.path }}">{{ m.name }}</a>
    {% set level = 2 %}
	{% if m.sub %}
	<ul class="no_style_list">
    {% for m in m.sub %}
        {% include app.path('pages','menu.html') %}
    {% endfor %}
	</ul>
	{% endif %}
</li>