<div class="add_html">
<form id="edit_form">
    <input type="hidden" name="id" value="{{element.id}}">
    <input type="hidden" name="act" value="save">
    <input type="hidden" name="mode" value="{{mode|default('new')}}">
    <div class="body"><span class="title">Название:</span>
        <div><input type="text" name="name" class="input" style="width:350px;" value="{{element.name}}"></div></div>
    <div class="body"><span class="title">Категория учебной группы:</span>
        <select name="id_study_group_category">
            {% for c in cats %}
                <option value="{{ c.id }}" {% if c.id == element.id_study_group_category %}selected{% endif %}>{{ c.name_category_students }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="body"><span class="title">Порядок:</span>
        <select name="position">
            {% for i in range(10, 500, 10)  %}
                <option value="{{ i }}" {% if i == element.position %}selected{% endif %}>{{ i }}</option>
            {% endfor %}
        </select>
</div>
</form>
</div>
