{% include "/source/admin/jpaginator_boot.html" %}
<table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th>Название</th>
        <th>Категория учебной группы</th>
        <th>Порядок</th>
        <th colspan="2">Управление</th>
    </tr>
    </thead>
    <tbody>
    {% for d in data %}
    {% include app.path('umk','admin/elements/row.html') %}
    {% endfor %}
    <tr>
        <td colspan="3">&nbsp;</td>
        <td colspan="2"><a title="Добавить" class="fa fa-15x fa-plus-square add-btn"></a></td>
    </tr>
    </tbody>
</table>
