{% extends "/source/admin/index.html" %}
{% block title %}
    &rarr; Статические страницы
{% endblock %}
{% block css %}
    
{% endblock %}
{% block js %}
    "/source/js/ckeditor/ckeditor.js"
    ,"{{app.path('pages','pages_admin.js')}}"
{% endblock %}
{% block body %}
<form action="" id="search_form" method="post" style="margin-bottom:20px;">
    Поиск:&nbsp;<input type="text" name="search" class="input">
    <input type="hidden" name="page">
    {% for k,f in form%}
    &nbsp;{{f.label}}
        {% if f.type == 'select' %}
            &nbsp;<select name="{{k}}">
                {% for j,o in f.options %}
                <option value="{{j}}" {% if f.selected == j %}selected{% endif %}>{{o}}</option>
                {% endfor %}
            </select>
        {% endif %}
    {% endfor %}
</form>
<div id="search_result">{% include '/applications/pages/layouts/admin/pages_table.html' %}</div>
{% endblock %}
