{% extends "/source/wrapper_index.html" %}

{% set hide_sidebar = true %}
{% set hide_crumbs = true %}
{% block body %}
  <h1>{{page.name|raw}}</h1>
    <div class="wysiwyg">{{page.text|raw}}</div>
{% endblock %}