{% extends "/source/wrapper_index.html" %}

{% block body %}
  <h1>{{page.name|raw}}</h1>
  <div class="wysiwyg">{{page.text|raw}}</div>
{% endblock %}

{% set left_sidebar = true %}
{% set no_title_sidebar = true %}
{% block sidebar %}
  <div class="panel-heading">
	<h4>{{globals.crumbs[0].name}}</h4>
	<p class="text-muted">Содержание</p>
  </div>
  <!--<div class="panel-body"></div>-->
  <ul class="list-group content-menu">
  {% for m in menu.sub %}
	{% set level = 1 %}
	{% include app.path('pages','menu.html') %}
  {% endfor %}
  </ul>
  
{% endblock %}