<div class="add_html">
<form id="edit_form">
    <input type="hidden" name="id" value="{{element.id}}">
    <input type="hidden" name="act" value="save">
    <input type="hidden" name="mode" value="{{mode|default('new')}}">
    <div class="body"><span class="title">Категории отдельных детей:</span>
        <div><input type="text" name="name_category_students" class="input" style="width:350px;" value="{{element.name_category_students}}"></div></div>
    <div class="body"><span class="title">Категории групп:</span>
        <div><input type="text" name="name_group" class="input" style="width:350px;" value="{{element.name_group}}"></div></div>
</form>
</div>
