<table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th>Категории отдельных детей</th>
        <th>Категории групп</th>
        <th colspan="2">Управление</th>
    </tr>
    </thead>
    <tbody>
    {% for d in data %}
    {% include app.path('kug','admin/elements/row.html') %}
    {% endfor %}
    <tr>
        <td colspan="2">&nbsp;</td>
        <td colspan="2"><a title="Добавить" class="fa fa-15x fa-plus-square add-btn"></a></td>
    </tr>
    </tbody>
</table>
