<div class="add_html">
<form id="edit_form">
    <input type="hidden" name="id" value="{{element.id}}">
    <input type="hidden" name="act" value="save">
    <input type="hidden" name="mode" value="{{mode|default('new')}}">
    <div class="body"><span class="title">Название:</span>
        <div><input type="text" name="name" class="input" style="width:350px;" value="{{element.name}}"></div></div>
    <div class="body"><span class="title">Краткое название:</span>
        <div><input type="text" name="short_name" class="input" style="width:350px;" value="{{element.short_name}}"></div></div>
    <div class="body"><span class="title">ГДП:</span>
        <select name="id_gdp">
            <option>&nbsp;</option>
            {% for c in groups %}
                <option value="{{ c.id }}" {% if c.id == element.id_gdp %}selected{% endif %}>{{ c.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="body"><span class="title">Порядок:</span>
        <select name="position">
            {% for i in range(1, 100, 1)  %}
                <option value="{{ i }}" {% if i == element.position %}selected{% endif %}>{{ i }}</option>
            {% endfor %}
        </select>
    </div>
</form>
</div>
