{% include "/source/admin/jpaginator_boot.html" %}
<table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th>Название</th>
        <th>Краткое название</th>
        <th>Порядок</th>
        <th>ГДП</th>
        <th colspan="2">Управление</th>
    </tr>
    </thead>
    <tbody>
    {% for d in data %}
    {% include app.path('dp','admin/elements/row.html') %}
    {% endfor %}
    </tbody>
</table>
