<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления сайтом</title>

    <link rel="stylesheet" href="/source/css/plugins.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ app.path('/source/admin/fonts/font-awesome/css/','font-awesome.min.css',true) }}">
    <link rel="stylesheet" href="{{ app.path('/source/admin/css/libs/','animate.min.css',true) }}">
    <link rel="stylesheet" href="{{ app.path('/source/admin/css/libs/','bootstrap-switch.css',true) }}">
    <link rel="stylesheet" href="{{ app.path('/source/css/smoothness/','jquery-ui-1.10.4.custom.css',true) }}" type="text/css">
    <link rel="stylesheet" href="{{ app.path('/source/admin/css/styler/','style.css',true) }}" >
    {% block css %}{% endblock %}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="top_div">
    <i class="navbar-toggle2 fa fa-bars" data-toggle="side-menu" data-target="#sidebar"></i>
    <span>Панель управления сайтом <a href="/" target="_blank">{{ settings.site_name.value }}</a></span>
</div>

<div id="wrapper">
    <div id="sidebar">
        <div class="inner">
            <nav class="side-nav">
                <ul class="nav nav-pills nav-stacked user-bar">
                    <li>
                        <a href="#user-menu" data-toggle="collapse" class="dropdown-toggle">
                                <div class="user-name">{{globals.admin.fio}}</div>
                                <div class="" style="color:{{globals.admin.group_color}};margin-bottom: 0px;">{{globals.admin.group_name}}</div>
                            <b class="caret"></b>
                        </a>
                        <ul class="panel-collapse collapse" id="user-menu">
                            <li><a href="" change_admin_pass><i class="fa fa-user"></i> Изменить пароль</a></li>
                            <li><a href="/admin/index/logout/"><i class="fa fa-sign-out"></i> Выход</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            {% set submenu = '' %}
            {% for k,r_m in globals.root_menu %}
                {% if r_m.submenu and k == globals.menu %}{% set submenu = r_m.submenu %}{% endif %}
            {% endfor %}

            <nav class="side-nav">
                <ul class="nav nav-pills nav-stacked">
                    {% for m in submenu %}
                        {% if m.count > 1 and m.category != "" %}
                            {% if category != m.category %}
                                {% set count = 1 %}
                                <li>
                                    <a href="#{{m.category}}" data-toggle="collapse" data-parent=".side-nav" class="collapsed">
                                        <i class="fa fa-fw fa-15x {% if m.icon %}{{ m.icon }}{% else %}fa-list-ul{% endif %}"></i>
                                        <span class="fa-12x">{{m.category}}</span> <b class="caret"></b>
                                    </a>
                                <ul class="panel-collapse in" id="{{m.category}}">
                            {% endif %}
                            {% set category = m.category %}

                            <li {% if m.url == globals.submenu %}class="active"{% endif %}><a href="/admin/{{m.url}}"><i class="fa fa-fw fa-arrow-right" style="margin-top: -3px;"></i> <span>{{m.name}}</span></a></li>

                            {% if count == m.count %}
                                </ul></li>
                            {% else  %}
                                {% set count = count + 1 %}
                            {% endif %}
                        {% else %}
                            <li {% if m.url == globals.submenu %}class="active"{% endif %}>
                                <a href="/admin/{{m.url}}">
                                    <i class="fa fa-fw fa-15x {% if m.icon %}{{ m.icon }}{% else %}fa-list-ul{% endif %}"></i>
                                    <span class="fa-12x">{{m.name}}</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
    <div id="middle">
        <header id="header">
            <nav class="navbar navbar-default">
                <div class="navbar-switcher">
                    <button type="button" class="navbar-toggle" data-toggle="side-menu" data-target="#sidebar">
                        <span class="sr-only">Toggle Sidebar</span>
                        <i class="fa fa-bars"></i>
                    </button>
                </div>

                <div class="navbar-switcher navbar-switcher-right">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topnav">
                        <span class="sr-only">Toggle Menu</span>
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="navbar-header">
                </div>
                <div class="collapse navbar-collapse" id="topnav">
                    <ul class="nav navbar-nav">
                        {% for k,r_m in globals.root_menu %}
                            <li {% if globals.menu == k %}class="active"{% endif %} style="position: relative;">
                                <a href="{% if not r_m.url %}/admin/{{k}}/{% else %}/admin/{{r_m.url}}/{% endif %}" title="title">{{r_m.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </header>
        <div id="content">
            <div class="container" style="position: relative">
                <div id="for_popup" style="position: absolute;top:0;left:0;background: #fff"></div>
                <div id="under_popup">{% block body %}{% endblock %}</div>
            </div>
        </div>
    </div>
</div>

<script src="//yastatic.net/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- jQuery Transit -->
    <script src="/source/admin/js/libs/jquery.transit.min692f.js?v=0.9.9"></script>

    <!-- Bootstrap Switch -->
    <script src="/source/admin/js/libs/bootstrap-switch.js"></script>

    <!-- jQuery EqualHeights -->
    <script src="/source/admin/js/libs/jquery.equalheights.min.js"></script>

    <!-- jQuery Nicescroll -->
    <script src="/source/admin/js/libs/jquery.nicescroll.min.js"></script>

    <!-- Theme script -->
    <script src="/source/admin/js/styler/script.js"></script>

    <script src="/source/js/head.min.js"></script>
    <script src="//yastatic.net/jquery-ui/1.10.4/jquery-ui.min.js"></script>
    <script src="/source/js/functions.js"></script>
    <script src="{{app.path('index','index_admin.js')}}"></script>
    <script>
        head.js(
                {% block js %}{% endblock %}
        );
    </script>
    <script>
        $(document).ready(function($) {
            if(jQuery().styler) {
                $("#middle input:not('.no_style'), #middle select:not('.no_style')").styler();
            }
        });
    </script>
</body>
</html>