<tr data-id="{{d.id}}">
    <td>{{ d.fio }}</td>
    <td>{{ d.name }}</td>
    <td>{{ d.name_education }}</td>
    <td>{{ d.date|date('d.m.Y') }}</td>
    <td><a href="/ug/start_show/{{ d.id }}" target="_blank">/ug/start_show/{{ d.id }}</a></td>
    <td class="td-align-middle" style="width: 1px;"><a title="Изменить" class="fa fa-15x fa-edit edit-btn" data-id="{{d.id}}"></a></td>
    <td class="td-align-middle" style="width: 1px;"><a title="Удалить" class="fa fa-15x fa-trash-o del-btn" data-id="{{d.id}}"></a></td>
</tr>
