body {
    background: url(/source/images/login_back.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 300px;
}

#wrapper,#page-content-wrapper {
    padding: 0;
}

#wrapper .fa-caret-left, #wrapper .fa-caret-right {
    display: none;
}

.panel {
    margin-bottom: 0;
}

.panel-default {
    border: 2px solid #fcd826;
}

#pajax {
    padding-left: 0;
}

.container {
    padding-right: 0;
}

.panel-body {
    padding: 10px;
}