@import url('/source/css/index.css');

body.wysiwyg {
    min-width: 300px !important;
    font-family: 'Open Sans', sans-serif !important;
    padding: 10px;
}

.wysiwyg.content_text {
    height: auto !important;
    overflow-x: auto;
}

.wysiwyg {
    min-height: 0 !important;
    color: #333;
    line-height: 120%;
    font-size: 16px;
}

.ckeditor_message_body {
    font-size: 14px;
}

.wysiwyg, .wysiwyg p {
    background: transparent;
    font-size: 16px;
}

.wysiwyg.transparent,.wysiwyg.transparent > p {
    background: transparent !important;
}

.cke_wysiwyg_div {
    padding-top: 8px !important;
}

.cke_chrome {
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

.wysiwyg img {
    height: auto !important;
    max-width: 100% !important;
}