body {
    overflow-y: scroll;
}

.h1 {
    margin-top: 0;
    margin-bottom: 40px;
}

.no_style_list {
    list-style: none;
}

.th_centered th {
    text-align: center;
}

.td_centered {
    text-align: center;
}

.vertical-text td, .vertical-text th {
    vertical-align: middle !important;
}

.modal-lg {
    width: 1200px;
}

#delete_student_form {
    display: none;
    margin-top: 10px;
}

.bsilver {
    background: #ddd !important;
}

.group1 {
    background: #A0522D !important;
}

.group2 {
    background: #FF8C00 !important;
}

.group3 {
    background: #FF7F50 !important;
}

.group4 {
    background: #FFDAB9 !important;
}

.group_name {
    text-decoration: underline;
}

.print_break {
    page-break-after: always
}

@media print {
    .print_canvas {
        width: 100% !important;
        max-width: 768px;
        height: auto !important;
    }
    
    body{
        -webkit-print-color-adjust:exact;
    }    
}

li.active {
    font-weight: bold;
}

.tab-content{
    border: 1px solid #ddd;
    border-top: none;
    padding: 1em;
    margin-bottom: 1em;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Отступ снизу, по высоте футера */
    margin-bottom: 137px !important;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Фиксированная высота футера */
    height: 137px;
    background-color: #f5f5f5;
}

.footer_copy {
    color: #555;
    padding-bottom: 5px;
}

footer .navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.underline_dashed {
    text-decoration: underline dashed;
}

.content-menu a.active{
	font-weight: bold;
}

.tab-pane .panel{
	margin-bottom: 0;
}

.uud_enter {
    padding: 5px 0 !important;
}

.bg_success_uud {
    background: #c6efce !important;
}

.bg_middle_uud {
    background: #98cbef !important;
}

.bg_danger_uud {
    background: #ffc7ce !important;
}

.uud_progress0 {
    background: #FFCC99 !important;
}

.uud_progress1 {
    background: #CCFFCC !important;
}


.uud_progress00 {
    background: #e2cdb8 !important;
}

.uud_progress11 {
    background: #79e279 !important;
}

.bg_danger_reflex{
    background: #A0522D !important;
    color: white;
}
.bg_success_reflex{
    background: #FF8C00 !important;
    color: white;
}


.uud_group1 {
    background: #63be7b !important;
}
.uud_group2 {
    background: #cbdc81 !important;
}
.uud_group3 {
    background: #fdc07c !important;
}
.uud_group4 {
    background: #f8696b !important;
}

.uud_group_legend {
    margin-bottom: 20px;
}

.uud_group_legend td {
    padding: 5px 10px;
}

.uud-reg-bg{
    background: #ffc000 !important;
}

.uud-poznavat-bg{
    background: #993366 !important;
    color: #ffffff;
}
.uud-communicate-bg{
    background: #00b050 !important;
}

.uud-individ-0{
    background-color: #FFCC99 !important;
}

.uud-individ-1{

}

.uud_progressA {
    background: #538dd5 !important;
}

.uud_progressB {
    background: #da9694 !important;
}

.uud_progressC {
    background: #b1a0c7 !important;
}

.uud_progressD {
    background: #fabf8f !important;
}

.uud_individual_level3, .uud_individual_level4 {
    background: #c7dfb4 !important;
}

.uud_individual_level2 {
    background: #c0d6eb !important;
}

.uud_individual_level1, .uud_individual_level0 {
    background: #f7cbad !important;
}

.wysiwyg img{
    border: 1px solid lightgrey;
}