{% extends "/source/wrapper_index.html.html" %}

{% block body %}
<div class="title_block">{{page.name}}</div>
<div class="content_text"><div class="wysiwyg">{{page.text|raw}}</div></div>
{% endblock %}