<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

  <script type="text/javascript">
    location.replace('/');
  </script>

  <meta http-equiv="content-type" content="text/html; charset=windows-1251" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Вы используете устаревший браузер.</title>

  <style>
    html, body {
      width: 100%;
      height: 100%;
      background: #F7F7F7;
      padding: 0px;
      margin: 0px;
    }
    #bad_browser {
      position: absolute;
      left: 50%;
      top: 50%;
      text-align: center;
      width: 530px;
      margin: -200px 0px 0px -250px;
      background: #FFF;
      line-height: 180%;
      border-bottom: 1px solid #E4E4E4;
      -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
    }
    #content {
      padding: 20px;
      font-size: 1.19em;
    }
    #content div {
      margin: 10px 0 15px 0;
    }
    #content #browsers {
      width: 480px;
      height: 136px;
      margin: 15px auto 0px;
    }
    #browsers a {
      float: left;
      width: 120px;
      height: 20px;
      padding: 106px 0px 13px 0;
      -webkit-border-radius: 4px;
      -khtml-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    #browsers a:hover {
      text-decoration: none;
      background-color: #edf1f5!important;
    }
    a {
      color: #035980;
      outline: none !important;
      text-decoration: none;
    }
  </style>
</head>

<body class="">

<div id="bad_browser">
  <div id="wrap"><div id="content">
      Для работы с сайтом необходима поддержка Javascript и Cookies.
      <div>
        Чтобы использовать все возможности сайта, загрузите и установите один из этих браузеров:
        <div id="browsers" style="width: 360px;">
          <a href="http://www.mozilla-europe.org/" target="_blank" style="background: url({{ app.path('index','firefox.png')}}) no-repeat 50% 17px;">Firefox</a>
          <a href="http://www.google.com/chrome/" target="_blank" style="background: url({{ app.path('index','chrome.png')}}) no-repeat 50% 17px;">Chrome</a>
          <a href="http://www.opera.com/" target="_blank" style="background: url({{ app.path('index','opera.png')}}) no-repeat 50% 15px;">Opera</a></div>
      </div>
    </div></div>
</div>

</body>