{% extends "/source/index.html" %}
{% set hide_sidebar = true %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{app.path('feedback','feedback.css')}}">
{% endblock %}
{% block js %}
<script>
    $(document).ready(function($) {
        $(".feedback_form .error").hide();
        $(document).on("click",".feedback_button",function(){
            user_api($(".feedback_form").serialize(),function(res){
                show_message("success","Сообщение отправлено");
                redirect("/",2);
            },function(res){
                $("#feedback_captcha").html(res.captcha_html);
                if ($(".error #captcha_name").length < 1) $("#feedback_captcha").after("<div class='error alert alert-danger' id='captcha'></div>")
                $(".feedback_form .error").hide();
                $.each(res,function(k,v){
                    $(".feedback_form #"+k+"").text(v).show();
                })
            },'/feedback/');
            return false;
        })
    });
</script>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">

        <h1>Обратная связь</h1>
        <p>Если у вас возникли вопросы, пожалуйста, пишите нам на email <a href="mailto:miha@fedoroff.ru">miha@fedoroff.ru</a> или воспользуйтесь формой ниже</p>
        <form class="feedback_form">
            <input type="hidden" name="act" value="send_feedback">
            <input type="hidden" name="id_user" value="{{user.id_user}}">
            <div class="form-group">
                <label for="fio">ФИО<sup>*</sup> </label>
                <input type="text" name="fio" class="form-control" readonly value="{{user.fio}}">
            </div>
            <div class="error alert alert-danger" id="fio"></div>

            <div class="form-group">
                <label for="fio">E-mail<sup>*</sup> </label>
                <input type="text" name="email" class="form-control" readonly value="{{user.email}}">
            </div>
            <div class="error alert alert-danger" id="email"></div>

            <div class="form-group">
                <label for="fio">Сообщение<sup>*</sup> </label>
                <textarea tabindex="1" autofocus="autofocus" class="form-control" name="text" rows="5"></textarea>
            </div>
            <div class="error alert alert-danger" id="text"></div>

            <div id="feedback_captcha">{{captcha|raw}}</div>

            <input type="submit" value="Отправить" class="feedback_button newbtn btn btn-primary btn-block" style="margin-top: 10px;">
        </form>
    </div>
</div>
{% endblock %}
