<!DOCTYPE html>
<html>
    <head>
        <title>Панель управления</title>
        <script src="/source/js/head.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ app.path('/source/css/','plugins.css',true) }}">
        <link rel="stylesheet" href="//yastatic.net/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href="{{ app.path('/source/admin/css/styler/','style.css',true) }}" rel="stylesheet" type="text/css">
        <script src="//yastatic.net/jquery/2.1.1/jquery.min.js"></script>
        <script>
            head.js(
             "/source/js/functions.js",
             "/applications/index/source/js/login.js"
             );
        </script>
        <style>
            body {
                overflow-y: scroll;
                min-width: 320px;
                background: url(/source/images/admin/login_back.jpg) no-repeat #ffffff;
            }
        </style>
    </head>
    <body>
        <div class="top_div">Панель управления сайтом <a href="/" target="_blank">{{ settings.site_name.value }}</a></div>

        <div class="container">
            <form class="form-signin" id="login_form" style="z-index: 1403;">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Авторизация</b></div>
                    <div class="panel-body">
                        <input type="hidden" name="act" value="login">
                        <input type="text" name="login" placeholder="Email" >
                        <input type="password" name="password" placeholder="Password">
                        <button class="btn btn-success" id="login" type="button" style="background-color: #ff9600 !important;border-color: #ff9600 !important;">Войти</button>
                        <button class="btn btn-danger" id="lost_pass" type="button" style="border-color: #ff9600 !important;">Забыл пароль</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>


