.ui-nestedSortable-error {
        background:#fbe3e4;
        color:#8a1f11;
}

ol {
        margin: 0;
        padding: 0;
        padding-left: 30px;
}

ol.sortable, ol.sortable ol {
        margin: 0 0 0 25px;
        padding: 0;
        list-style-type: none;
}

ol.sortable {
        margin: 10px 0;
}

.sortable li {
        margin: 7px 0 0 0;
        padding: 0;
    }

.sortable li div  {
        border: 1px solid #ddd;
        padding: 5px;
        margin: 0;
        cursor: move;
        position: relative;
}

.placeholder {
        background-color: #f9f9f9;
}

.tree_icons {
    visibility: hidden;
    position: absolute;
    right: 0;
}

.tree_block {
    cursor: pointer;
    font-weight: bold;
}

.tree_block:hover {
    background: #f9f9f9;
}

.path {
    margin-left: 20px;
}