{% extends get_data.mode ? "/source/print.html" : "/source/wrapper_index.html" %}

{% block title %}
    {{ug.name}}. {{begin}} класс. Отчёт &laquo;{{labels.general.name}}&raquo;
{% endblock %}
{% block css %}
    <link href="{{ app.path('results','style.css') }}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{{ app.path('/source/js/chart/dist/','Chart.min.js',true) }}"></script>
    {% if get_data.mode == 'print' %}
        <script>
            $(document).ready(function(){
                setTimeout(window.print, 3000);
            });
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    {% set toolbar %}
        {% if not get_data.mode %}
            <div class="btn-toolbar">
                <div class="btn-group" role="group">
                    <a href="?mode=print&begin={{ begin }}" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Распечатать</a>
                    <a href="?mode=excel&begin={{ begin }}" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить как Excel</a>
                    {% if begin == 5 %}
                    <a href="/uploads/methods/{{begin}}grade_report_general_results.pdf" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Анализ результатов</a>
                    <a href="/uploads/methods/{{begin}}grade_structure_of_monitoring_indicators.pdf" target="_blank" class="btn btn-info"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Структура показателей мониторинга</a>
                    {% else %}
                    <a class="btn btn-info" target="_blank" href="/uploads/methods/{{begin}}grade_analysis.pdf" role="button"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Анализ результатов {{begin}} класс</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endset %}

    {{ toolbar }}

    <div class="row">
        <div class="col-xs-6">
            <h1>Мониторинг УУД. {{begin}} класс</h1>
            <h2>Отчёт &laquo;{{labels.general.name}}&raquo;</h2>
        </div>
        {% include app.path('results', 'uud/ug_info_block.html') %}
    </div>

    {% include app.path('results','uud/report_uud1.html') %}
    {% include app.path('results','uud/report_rating_uud.html') %}

    {{ toolbar }}
{% endblock %}