<div {% if not get_data.mode %}class="table-responsive"{% endif %}>
    {% set height = 0 %}
    {% if subgroups[begin] is defined %}
        {% for k,g in gdp %}
            {% for sub in subgroups[begin][k]  %}
                {% if height < sub.name|length %}{% set height = sub.name|length %}{% endif %}
            {% endfor %}
        {% endfor %}
    {% else %}
        {% for d in dp %}
            {% for dd in d %}
                {% if begin in dd.classes %}
                    {% if height < dd.short_name|length %}{% set height = dd.short_name|length %}{% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}

    <h3>Таблица &laquo;{{labels.individual.tables[0]|raw}}&raquo;</h3>

    <table class="table table-bordered th_centered vertical-text table-condensed">
        <thead>
            <tr>
                <th></th>
                {% for k,g in gdp %}
                    {% if subgroups[begin] is defined %}
                        {% set length = subgroups[begin][k]|length %}
                    {% else %}
                        {% set length = 0 %}
                        {% for dd in dp[k] %}
                            {% if begin in dd.classes %}
                                {% set length = length +1 %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    {% if length > 0 %}
                        <th class="td_centered" colspan="{{ length }}">
                            {{ g }}
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th></th>
                {% for k,g in gdp %}
                    {% if subgroups[begin] is defined %}
                        {% for sub in subgroups[begin][k]  %}
                            <th class="td_centered">
                                <svg width="12" height="{{ height*8+10 }}">
                                    <text x="10" y="{{ height*8/2+5 }}" transform="rotate(-90, 10, {{ height*8/2+5 }})" style="text-anchor:middle; font-size:14px">{{ sub.name }}</text>
                                </svg>
                            </th>
                        {% endfor %}
                    {% else %}
                        {% for dd in dp[k] %}
                            {% if begin in dd.classes %}
                                <th class="td_centered">
                                    <svg width="12" height="{{ height*8+10 }}">
                                        <text x="10" y="{{ height*8/2+5 }}" transform="rotate(-90, 10, {{ height*8/2+5 }})" style="text-anchor:middle; font-size:14px">{{ dd.short_name }}</text>
                                    </svg>
                                </th>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tr>
            <th style="text-align: left;">
                {{ student.fio }}
            </th>
            {% set low_check = 3 %}
            {% for k,g in gdp %}
                {% if subgroups[begin] is defined %}
                    {% for sub in subgroups[begin][k] %}
                        {% set sum = 0 %}
                        {% for sub_dp in sub['dp'] %}
                            {% set sum = sum + results[student.id][begin][sub_dp]['total'] %}
                        {% endfor %}
                        <td class="td_centered uud_individual_level{{ sum }}">{{ sum }}</td>
                    {% endfor %}
                {% else %}
                    {% for dd in dp[k] %}
                        {% if begin in dd.classes %}
                            <td class="td_centered  {% if results[student.id][begin][dd.id]['total'] is not null %}{% if results[student.id][begin][dd.id]['total'] > low_check %}bg_success_uud{% else %}bg_danger_uud{% endif %}{% endif %}">
                                {{ results[student.id][begin][dd.id]['total'] }}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tr>
        {% if begin == 1 %}
        <tr>
            <th style="text-align: left;">Группа</th>
            {% for k,g in gdp %}
                {% for dd in dp[k] %}
                    {% if begin in dd.classes %}
                        <td class="td_centered">
                            {{ dp_groups[student.id][begin][dd.id] }}
                        </td>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tr>
        {% else  %}
            <tr>
                <th style="text-align: left;">Уровень</th>
                {% for k,g in gdp %}
                    {% if subgroups[begin] is defined %}
                        <td class="td_centered uud_individual_level{{ (gdp_total[student.id][k]/subgroups[begin][k]|length)|round(0, 'floor') }}" colspan="{{ subgroups[begin][k]|length }}">
                            {{ (gdp_total[student.id][k]/subgroups[begin][k]|length)|round(1, 'floor')|replace(',', '.') }}
                        </td>
                    {% else %}
                        {% set length = 0 %}
                        {% for dd in dp[k] %}
                            {% if begin in dd.classes %}
                                {% set length = length + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if length > 0 %}
                            <td class="td_centered" colspan="{{ length }}">
                                {% if levels[student.id][begin][k]['total'] > 0 %}
                                    БАЗОВЫЙ
                                {% else %}
                                    НИЖЕ БАЗОВОГО
                                {% endif %}
                            </td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th style="text-align: left;">Прогресс</th>
                {% for k,g in gdp %}
                    {% if subgroups[begin] is defined %}
                        <td class="td_centered uud_progress{{ progress[student.id][k]|replace('*', progress[student.id][k]|number_format) }}" colspan="{{ subgroups[begin][k]|length }}">
                            {{progress[student.id][k]}}
                        </td>
                    {% else %}
                        {% set length = 0 %}
                        {% for dd in dp[k] %}
                            {% if begin in dd.classes %}
                                {% set length = length + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if length > 0 %}
                            {% if begin == 2 %}
                                <td class="td_centered" colspan="{{ length }}">
                                    {% if progress[student.id][k] is defined %}
                                        {% if progress[student.id][k] == 1 %}
                                            ЕСТЬ ПРОГРЕСС
                                        {% else %}
                                            НЕТ ПРОГРЕССА
                                        {% endif %}
                                    {% endif %}
                                </td>
                            {% elseif begin == 3 or begin == 4 %}
                                {% for dd in dp[k] %}
                                    {% if begin in dd.classes %}
                                        <td class="td_centered">
                                            {% if begin-1 in dd.classes %}
                                                {{ dp_progress[student.id][dd.id] }}
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endif %}
    </table>

    <h3>Таблица &laquo;{{labels.individual.tables[1]|raw}}&raquo;</h3>

    <table class="table table-bordered th_centered vertical-text table-condensed">
        {% if begin == 5 %}
            <tr>
                <th style="text-align: left;">Общий балл и уровень</th>
                {% set gdp_total_total = 0 %}
                {% for k,g in gdp %}
                    {% set gdp_total_total = gdp_total_total + (gdp_total[student.id][k]/subgroups[begin][k]|length) %}
                {% endfor %}
                {% set gdp_total_total = (gdp_total_total/gdp|length)|round(1, 'floor') %}
                <td class="uud_individual_level{{ (gdp_total_total)|round(0, 'floor') }}">{{ gdp_total_total|replace(',', '.') }}</td>
            </tr>
            <tr>
                <th style="text-align: left;">Общий прогресс</th>
                <td class="uud_progress{{ progress[student.id]['total']|replace('*', progress[student.id]['total']|number_format) }}">
                    {{progress[student.id]['total']}}
                </td>
            </tr>
            <tr>
                <th style="text-align: left;">Индекс рефлексивности</th>

                {% if reflex[student.id] < 0.57 %}
                {% set reflex_class = 'bg_danger_reflex' %}
                {% set msg = "Ниже среднего" %}
                {% else %}
                {% set reflex_class = 'bg_success_reflex' %}
                {% set msg = "Выше среднего" %}
                {% endif %}
                <td class="{{ reflex_class }}">{{ reflex[student.id] }} ({{msg}})</td>
            </tr>
        {% else %}
            <tr>
                <th style="text-align: left;">Общий балл (max {{ max }})</th>
                <td>{{ results[student.id][begin]['total'] }}</td>
            </tr>
            {% if begin == 1 %}
                <tr>
                    <th style="text-align: left;">Преобладающая группа</th>
                    <td>{{ dp_groups[student.id][begin]['total'] }}</td>
                </tr>
            {% else %}
                <tr>
                    <th style="text-align: left;">Общий уровень</th>
                    <td>
                        {% if levels[student.id][begin]['total'] %}
                            БАЗОВЫЙ
                        {% else %}
                            НИЖЕ БАЗОВОГО
                        {% endif %}
                    </td>
                </tr>
                {% if begin == 2 %}
                    <tr>
                        <th style="text-align: left;">Общий прогресс</th>
                        <td>
                            {% if progress[student.id]['total'] == 1 %}
                                ЕСТЬ ПРОГРЕСС
                            {% else %}
                                НЕТ ПРОГРЕССА
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}
        {% endif %}
    </table>
{% if get_data.mode != 'excel' %}
    {% if begin == 5 %}
    <table class="uud_group_legend">
        <thead>
        <tr>
            <th colspan="2">Условные обозначения</th>
        </tr>
        </thead>
        <tr>
            <td class="td_centered uud_individual_level3"></td>
            <td>Высокий уровень</td>
        </tr>
        <tr>
            <td class="td_centered uud_individual_level2"></td>
            <td>Средний уровень</td>
        </tr>
        <tr>
            <td class="td_centered uud_individual_level1"></td>
            <td>Низкий уровень</td>
        </tr>
        <tr><td></td><td></td></tr>

        <tr>
            <td class="td_centered uud_progress1">1</td>
            <td>ЕСТЬ ПРОГРЕСС</td>
        </tr>
        <tr>
            <td class="td_centered uud_progress11">1*</td>
            <td>РЕЗКИЙ ПРОГРЕСС</td>
        </tr>
        <tr>
            <td class="td_centered uud_progress0">0</td>
            <td>НЕТ ПРОГРЕССА</td>
        </tr>
        <tr>
            <td class="td_centered uud_progress00">0*</td>
            <td>РЕЗКИЙ РЕГРЕСС</td>
        </tr>
    </table>
    {% else %}
    <table class="uud_group_legend">
        <thead>
        <tr>
            <th colspan="2">Условные обозначения</th>
        </tr>
        </thead>
        <tr>
            <td class="td_centered bg_success_uud"></td>
            <td>Базовый уровень</td>
        </tr>
        <tr>
            <td class="td_centered bg_danger_uud"></td>
            <td>Уровень ниже базового</td>
        </tr>
    </table>
    {% endif %}
</div>

<h3>Диаграмма &laquo;{{labels.individual.diagrams[0]|raw}}&raquo;</h3>

<script>
    $(document).ready(function(){
        var labels = [
            {% for k,g in gdp %}
                {% if subgroups[begin] is defined %}
                    {% for sub in subgroups[begin][k] %}
                        "{{ sub.name }}",
                    {% endfor %}
                {% else %}
                    {% for dd in dp[k] %}
                        {% if begin in dd.classes %}
                            "{{ dd.short_name }}",
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        ];

        var dataset = [
            {% for k,g in gdp %}
                {% if subgroups[begin] is defined %}
                    {% for sub in subgroups[begin][k] %}
                        {% set sum = 0 %}
                        {% for sub_dp in sub['dp'] %}
                            {% set sum = sum + results[student.id][begin][sub_dp]['total'] %}
                        {% endfor %}
                        "{{ sum|replace(',', '.') }}",
                    {% endfor %}
                {% else %}
                    {% for dd in dp[k] %}
                        {% if begin in dd.classes %}
                            "{{ results[student.id][begin][dd.id]['total']|replace(',','.') }}",
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        ];

        var data = {
            labels: labels,
            datasets: [
                {
                    label: "Результат ученика",
                    backgroundColor: "#5b9bd5",
                    data: dataset
                }
            ]
        };

        Chart.defaults.global.defaultFontColor = "#000";
        var ctx = $("#chart");
        new Chart(ctx, {
            type: 'bar',
            data: data,
            height: 160,
            options: {
                legend: {
                    position: 'top',
                    display: false
                },
                tooltips: {
                    mode: 'single',
                    callbacks: {
                        title: function (tooltipItem, data) {
                            var allData = data.datasets[tooltipItem[0].datasetIndex].data;
                            var tooltipData = allData[tooltipItem[0].index];
                            return data.labels[tooltipItem[0].index] + ': ' + tooltipData;
                        },
                        label: function() {
                            return '';
                        }
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontSize: 12,
                            maxRotation: 45
                        }
                    }]
                }
            }
        });
    });
</script>
<canvas id="chart" class="print_canvas" width="400" height="100"></canvas>
{% endif %}