<h3>Таблица &laquo;{{labels.rating.tables[0]|raw}}&raquo;</h3>

<div {% if not get_data.mode %}class="table-responsive"{% endif %}>
    <table class="table table-bordered th_centered vertical-text table-condensed">
        <thead>
        <tr>
            <th style="vertical-align: middle;"></th>
            {% for k,g in gdp %}
            <th class="{{ classes[loop.index0] }}">{{ g }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tr>
            <td>Обобщенный рейтинг УУД в {{ begin }} классе</td>
            {% for k,g in gdp %}
                {% if subgroups[begin] is defined and show_summary %}
                    {% set sum = 0 %}
                    {% for sub in subgroups[begin][k] %}
                        {% for sub_dp in sub['dp'] %}
                            {% set sum = sum + total[sub_dp] %}
                        {% endfor %}
                    {% endfor %}
                    {% set av_gdp = (sum/students|length/subgroups[begin][k]|length) %}
                    <td class="td_centered">
                        {{ av_gdp|round(1, 'floor')|replace(',','.') }}
                    </td>
                {% else %}
                    {% set sum = 0 %}
                    {% for kk,dd in dp[k] %}
                        {% set sum = sum + total[kk]/students|length %}
                    {% endfor %}
                    {% set av_gdp = (sum/dp[k]|length) %}

                    <td class="td_centered">{{ av_gdp|round(1, 'floor')|replace(',','.') }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
</div>

{% if get_data.mode != 'excel' %}
<h3>Диаграмма &laquo;{{labels.rating.diagrams[0]|raw}}&raquo;</h3>

<script>
    $(document).ready(function(){
        var labels = [
        {% for k,g in gdp %}
        "{{ g }}",
        {% endfor %}
        ];

        var dataset = [
            {% for k,g in gdp %}
                {% if subgroups[begin] is defined and show_summary %}
                    {% set sum = 0 %}
                    {% for sub in subgroups[begin][k] %}
                        {% for sub_dp in sub['dp'] %}
                            {% set sum = sum + total[sub_dp] %}
                        {% endfor %}
                    {% endfor %}
                    {% set av_gdp = (sum/students|length/subgroups[begin][k]|length) %}
                    "{{ av_gdp|round(1, 'floor')|replace(',','.') }}",
                {% else %}
                    {% set sum = 0 %}
                    {% for kk,dd in dp[k] %}
                        {% set sum = sum + total[kk]/students|length %}
                    {% endfor %}
                    {% set av_gdp = (sum/dp[k]|length) %}
                    "{{ av_gdp|round(1, 'floor')|replace(',','.') }}",
                {% endif %}
            {% endfor %}
        ];

        var data = {
            labels: labels,
            datasets: [
                {
                    label: "Средние по классу",
                    backgroundColor: [
                        '{{ colors[0] }}',
                        '{{ colors[1] }}',
                        '{{ colors[2] }}'
                    ],
                    data: dataset
                }
            ],
        };

        Chart.defaults.global.defaultFontColor = "#000";
        var ctx = $("#chart");
        new Chart(ctx, {
            type: 'bar',
            data: data,
            height: 160,
            options: {
                legend: {
                    position: 'top',
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontSize: 18,
                            maxRotation: 45,
                        }
                    }]
                }
            }
        });
    });
</script>

<canvas id="chart" class="print_canvas" width="400" height="100"></canvas>
{% endif %}

<h3>Таблица &laquo;{{labels.rating.tables[1]|raw}}&raquo;</h3>

<div {% if not get_data.mode %}class="table-responsive"{% endif %}>
    <table class="table table-bordered th_centered vertical-text table-condensed">
        <thead>
        {% set height = 0 %}
        {% for d in dp %}
        {% for dd in d %}
        {% if height < dd.short_name|length %}{% set height = dd.short_name|length %}{% endif %}
        {% endfor %}
        {% endfor %}
        {% set subgroup_height = 0 %}
        {% for k,g in gdp %}
        {% for sub in subgroups[begin][k] %}
        {% if subgroup_height < sub.name|length %}{% set subgroup_height = sub.name|length %}{% endif %}
        {% endfor %}
        {% endfor %}
        <tr>
            <th style="vertical-align: middle;"></th>
            {% for k,g in gdp %}
            {% set length = 0 %}
            {% if subgroups[begin] is defined %}
            {% set length = subgroups[begin][k]|length %}
            {% else %}
            {% for dd in dp[k] %}
            {% set length = length + 1 %}
            {% endfor %}
            {% endif %}
            <th colspan="{{ length }}" class="{{classes[loop.index0]}}">{{ g }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th></th>
            {% for k,g in gdp %}
            {% if subgroups[begin] is defined %}
            {% for sub in subgroups[begin][k] %}
            <th>
                <svg width="14" height="{{ subgroup_height*9+10 }}">
                    <text x="10" y="{{ subgroup_height*9/2+5 }}" transform="rotate(-90, 12, {{ subgroup_height*9/2+5 }})"
                          style="text-anchor:middle; font-size:14px">{{ sub.name }}</text>
                </svg>
            </th>
            {% endfor %}
            {% else %}
            {% for dd in dp[k] %}
            <th class="td_centered">
                <svg width="12" height="{{ height*8+10 }}">
                    <text x="10" y="{{ height*8/2+5 }}" transform="rotate(-90, 10, {{ height*8/2+5 }})" style="text-anchor:middle; font-size:14px">{{ dd.short_name }}</text>
                </svg>
            </th>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tr>
            <td>Детализированный рейтинг УУД в {{ begin }} классе</td>
            {% for k,g in gdp %}
                {% if subgroups[begin] is defined and show_summary %}
                    {% for sub in subgroups[begin][k] %}
                        {% set sum = 0 %}
                        {% for sub_dp in sub['dp'] %}
                            {% set sum = sum + total[sub_dp] %}
                        {% endfor %}
                        <td class="td_centered">
                            {{ (sum/students|length)|round(1, 'floor')|replace(',','.') }}
                        </td>
                    {% endfor %}
                {% else %}
                    {% for kk,dd in dp[k] %}
                        <td class="td_centered">{{ (total[kk]/students|length)|round(1, 'floor')|replace(',','.') }}</td>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tr>
    </table>
</div>

{% if get_data.mode != 'excel' %}
<h3>Диаграмма &laquo;{{labels.rating.diagrams[1]|raw}}&raquo;</h3>

<script>
    $(document).ready(function(){
        var labels = [
        {% for k,g in gdp %}
        {% if subgroups[begin] is defined %}
        {% for sub in subgroups[begin][k] %}
        "{{ sub.name }}",
        {% endfor %}
        {% else %}
        {% for dd in dp[k] %}
        "{{ dd.short_name }}",
        {% endfor %}
        {% endif %}
        {% endfor %}
        ];

        var dataset = [
            {% for k,g in gdp %}
                {% if subgroups[begin] is defined and show_summary %}
                    {% for sub in subgroups[begin][k] %}
                        {% set sum = 0 %}
                        {% for sub_dp in sub['dp'] %}
                            {% set sum = sum + total[sub_dp] %}
                        {% endfor %}
                    "{{ (sum/students|length)|round(1, 'floor')|replace(',','.') }}",
                    {% endfor %}
                {% else %}
                    {% for kk,dd in dp[k] %}
                    "{{ (total[kk]/students|length)|round(1, 'floor')|replace(',','.') }}",
                    {% endfor %}
                {% endif %}
            {% endfor %}
        ];

        var data = {
            labels: labels,
            datasets: [
                {
                    label: "Средние по классу",
                    backgroundColor: [
                        {% set i = 0 %}
                {% for k,g in gdp %}
        {% if subgroups[begin] is defined %}
        {% for sub in subgroups[begin][k] %}
        '{{ colors[i] }}',
        {% endfor %}
        {% else %}
        {% for dd in dp[k] %}
        '{{ colors[i] }}',
        {% endfor %}
        {% endif %}
        {% set i = i + 1 %}
        {% endfor %}
        ],
        data: dataset
    }
        ]
    };

        Chart.defaults.global.defaultFontColor = "#000";
        var ctx = $("#chart2");
        new Chart(ctx, {
            type: 'bar',
            data: data,
            height: 160,
            options: {
                legend: {
                    position: 'top',
                    display: false
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontSize: 12,
                            maxRotation: 45
                        }
                    }]
                }
            }
        });
    });
</script>
<p><canvas id="chart2" class="print_canvas" width="400" height="100"></canvas></p>
<table class="uud_group_legend">
    <thead>
    <tr>
        <th colspan="{% if begin > 1 %}3{%else%}2{% endif %}">Условные обозначения</th>
    </tr>
    </thead>
    <tr>
        <td class="td_centered uud-reg-bg"></td>
        <td>Регулятивные УУД</td>
    </tr>
    <tr>
        <td class="td_centered uud-poznavat-bg"></td>
        <td>Познавательные УУД</td>
    </tr>
    {% if begin > 1 %}
    <tr>
        <td class="td_centered uud-communicate-bg"></td>
        <td>Информационно-коммуникативные УУД</td>
    </tr>
    {% endif %}
</table>
{% endif %}