<h3>Таблица &laquo;{{labels.reflex.tables.0}}&raquo;</h3>
<div class="table-responsive">
    <table class="table table-bordered th_centered vertical-text table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>ФИО</th>
                <th>Индекс рефлексивности</th>
            </tr>
        </thead>
        {% set heigher = 0 %}
        {% set below = 0 %}
        {% for s in students %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ s.fio }}</td>
                {% if reflex[s.id] < 0.57 %}
                    {% set reflex_class = 'bg_danger_reflex' %}
                    {% set below = below + 1 %}
                {% else %}
                    {% set reflex_class = 'bg_success_reflex' %}
                    {% set heigher = heigher + 1 %}
                {% endif %}
                <td class="{{ reflex_class }}">{{ reflex[s.id] }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% if get_data.mode != 'excel' %}
<table class="uud_group_legend">
    <thead>
    <tr>
        <th colspan="2">Условные обозначения</th>
    </tr>
    </thead>
    <tr>
        <td class="td_centered bg_danger_reflex"></td>
        <td>Индекс рефлексивности ниже среднего</td>
    </tr>
    <tr>
        <td class="td_centered bg_success_reflex"></td>
        <td>Индекс рефлексивности выше среднего</td>
    </tr>
</table>

<h3>Диаграмма &laquo;{{labels.reflex.diagrams.0}}&raquo;</h3>

<script>
    $(document).ready(function(){
        var labels = [
            "ниже среднего", "выше среднего"
        ];

        var dataset = [
            "{{ (below*100/students|length)|round(2,'floor')|replace(',','.') }}",
            "{{ (heigher*100/students|length)|round(2,'floor')|replace(',','.') }}"
        ];

        var data = {
            labels: labels,
            datasets: [
                {
                    backgroundColor: [
                        "#A0522D",
                        "#FF8C00"
                    ],
                    data: dataset
                }
            ]
        };

        Chart.defaults.global.defaultFontColor = "#000";
        var ctx = $("#chart");
        new Chart(ctx, {
            type: 'pie',
            data: data,
            options: {
                legend: {
                    position: 'bottom'
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            var allData = data.datasets[tooltipItem.datasetIndex].data;
                            var tooltipLabel = data.labels[tooltipItem.index];
                            var tooltipData = allData[tooltipItem.index];
                            return tooltipLabel + ': ' + tooltipData + '%';
                        }
                    }
                }
            }
        });
    });
</script>
<canvas id="chart" class="print_canvas" width="400px" height="100px"></canvas>
{% endif %}