{% set init_begin = begin %}
{% set begin = begin - 1 %}

<h3>Таблица &laquo;{{labels.progress.tables.0}}&raquo;</h3>
<div class="table-responsive">
    <table class="table table-bordered th_centered vertical-text table-condensed">
        <thead>
        {% set height = 0 %}
        {% for d in dp %}
            {% for dd in d %}
                {% if begin in dd.classes %}
                    {% if height < dd.short_name|length %}{% set height = dd.short_name|length %}{% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% if subgroups[init_begin] is defined %}
            {% set height = 0 %}
            {% for k,g in gdp %}
                {% for sub in subgroups[init_begin][k] %}
                    {% if height < sub.name|length %}{% set height = sub.name|length %}{% endif %}
                {% endfor %}
            {% endfor %}
            <tr>
                <th>{{ init_begin }} класс</th>
                {% set length = 1 %}
                {% for k,g in gdp %}
                    {% if subgroups[init_begin][k] is defined %}
                        {% set length = length + 1 %}
                        <th colspan="{{ subgroups[init_begin][k]|length }}">{{ g }}</th>
                    {% endif %}
                {% endfor %}
                <th colspan="{{ length }}">Сводные показатели</th>
            </tr>
            <tr>
                <th>Группы УУД</th>
                {% for k,g in gdp %}
                    {% for sub in subgroups[init_begin][k] %}
                        <th>
                            <svg width="14" height="{{ height*9+10 }}">
                                <text x="10" y="{{ height*9/2+5 }}" transform="rotate(-90, 12, {{ height*9/2+5 }})"
                                      style="text-anchor:middle; font-size:14px">{{ sub.name }}</text>
                            </svg>
                        </th>
                    {% endfor %}
                {% endfor %}
                {% for k,g in gdp %}
                    {% if subgroups[init_begin][k] is defined %}
                        <th>{{ g }}</th>
                    {% endif %}
                {% endfor %}
                <th>Общий показатель</th>
            </tr>
        {% else %}
            <tr>
                <th style="vertical-align: middle;">ФИО</th>
                {% for k,g in gdp %}
                    {% for dd in dp[k] %}
                        {% if begin in dd.classes %}
                            <th class="td_centered">
                                <svg width="12" height="{{ height*8+10 }}">
                                    <text x="10" y="{{ height*8/2+5 }}" transform="rotate(-90, 10, {{ height*8/2+5 }})"
                                          style="text-anchor:middle; font-size:14px">{{ dd.short_name }}</text>
                                </svg>
                            </th>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                {% if init_begin != 3 %}
                    {% for k,g in gdp %}
                        {% set length = 0 %}
                        {% for dd in dp[k] %}
                            {% if begin in dd.classes %}
                                {% set length = length + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if length > 0 %}
                            <th>{{ g }}</th>
                        {% endif %}
                    {% endfor %}
                    <th>Общий прогресс</th>
                {% endif %}
            </tr>
        {% endif %}
        </thead>
        {% for s in students %}
            <tr>
                <td style="width: 100%;">
                    {{ s.fio }}
                </td>
                {% for k,g in gdp %}
                    {% if subgroups[init_begin] is defined %}
                        {% for sub_id,sub in subgroups[init_begin][k] %}
                            <td class="td_centered uud_progress{{ subgroups_progress[s.id][sub_id]|replace('*', subgroups_progress[s.id][sub_id]|number_format) }}">{{ subgroups_progress[s.id][sub_id] }}</td>
                        {% endfor %}
                    {% else %}
                        {% for dd in dp[k] %}
                            {% if begin in dd.classes %}
                                <td class="td_centered uud_progress{{ dp_progress[s.id][dd.id] }}">{{ dp_progress[s.id][dd.id] }}</td>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {% if init_begin != 3 %}
                    {% for k,g in gdp %}
                        {% if subgroups[init_begin] is defined %}
                            <td class="td_centered {% if progress[s.id][k] is defined %}uud_progress{{ progress[s.id][k]|replace('*',progress[s.id][k]|number_format) }}{% endif %}">
                                {% if progress[s.id][k] is defined %}
                                    {{ progress[s.id][k] }}
                                {% endif %}
                            </td>
                        {% else %}
                            {% set length = 0 %}
                            {% for dd in dp[k] %}
                                {% if begin in dd.classes %}
                                    {% set length = length + 1 %}
                                {% endif %}
                            {% endfor %}
                            {% if length > 0 %}
                                <td class="td_centered {% if progress[s.id][k] is defined %}uud_progress{{ progress[s.id][k] }}{% endif %}">
                                    {% if progress[s.id][k] is defined %}
                                        {{ progress[s.id][k] }}
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <td class="td_centered {% if progress[s.id]['total'] is defined %}uud_progress{{ progress[s.id]['total']|replace('*',progress[s.id]['total']|number_format) }}{% endif %}">
                        {% if progress[s.id]['total'] is defined %}
                            {{ progress[s.id]['total'] }}
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% if get_data.mode != 'excel' %}
    {% if init_begin == 2 %}
        <table class="uud_group_legend">
            <thead>
            <tr>
                <th colspan="2">Условные обозначения</th>
            </tr>
            </thead>
            <tr>
                <td class="td_centered uud_progress0">0</td>
                <td>НЕТ ПРОГРЕССА</td>
            </tr>
            <tr>
                <td class="td_centered uud_progress1">1</td>
                <td>ЕСТЬ ПРОГРЕСС</td>
            </tr>
        </table>
    {% elseif init_begin == 5%}
        <table class="uud_group_legend">
            <thead>
            <tr>
                <th colspan="2">Условные обозначения</th>
            </tr>
            </thead>
            <tr>
                <td class="td_centered uud_progress1">1</td>
                <td>ЕСТЬ ПРОГРЕСС</td>
            </tr>
            <tr>
                <td class="td_centered uud_progress11">1*</td>
                <td>РЕЗКИЙ ПРОГРЕСС</td>
            </tr>
            <tr>
                <td class="td_centered uud_progress0">0</td>
                <td>НЕТ ПРОГРЕССА</td>
            </tr>
            <tr>
                <td class="td_centered uud_progress00">0*</td>
                <td>РЕЗКИЙ РЕГРЕСС</td>
            </tr>
        </table>
    {% elseif init_begin == 3%}
        <table class="uud_group_legend">
            <thead>
            <tr>
                <th colspan="2">Условные обозначения</th>
            </tr>
            </thead>
            <tr>
                <td class="td_centered uud_progressA">A</td>
                <td>Стабильный прогресс, произошел переход на новый этап овладения УУД</td>
            </tr>
            <tr>
                <td class="td_centered uud_progressB">B</td>
                <td>Прогресс, произошел переход на новый этап овладения УУД</td>
            </tr>
            <tr>
                <td class="td_centered uud_progressC">C</td>
                <td>Ситуация требует дополнительного рассмотрения</td>
            </tr>
            <tr>
                <td class="td_centered uud_progressD">D</td>
                <td>Нет прогресса, переход на новый этап овладения УУД не произошел</td>
            </tr>
        </table>
    {% elseif init_begin == 4 %}
        <table class="uud_group_legend">
            <thead>
            <tr>
                <th colspan="2">Условные обозначения</th>
            </tr>
            </thead>
            <tr>
                <td class="td_centered uud_progressA">A</td>
                <td>Небольшой стабильный прогресс</td>
            </tr>
            <tr>
                <td class="td_centered uud_progressB">B</td>
                <td>Значительный прогресс</td>
            </tr>
            <tr>
                <td class="td_centered uud_progressC">C</td>
                <td>Скачок в развитии умения. Ситуация требует дополнительного рассмотрения</td>
            </tr>
            <tr>
                <td class="td_centered uud_progressD">D</td>
                <td>Нет прогресса</td>
            </tr>
        </table>
    {% endif %}
</div>
{% endif %}

<h3>Таблица &laquo;{{labels.progress.tables[1]|raw}}&raquo;</h3>

<div {% if not get_data.mode %}class="table-responsive"{% endif %}>
    <table class="table table-bordered th_centered vertical-text table-condensed">
        <thead>
            <tr>
                <th>Тип прогресса</th>
                {% for k,g in gdp %}
                    {% set length = 0 %}
                    {% for dd in dp[k] %}
                        {% if begin in dd.classes %}
                            {% set length = length + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if length or init_begin == 5 %}
                        <th class="td_centered">{{ g }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        {% if init_begin == 2 %}
            <tr>
                <td>% детей, имеющих прогресс в развити УУД</td>
                {% for k,g in gdp %}
                    {% set length = 0 %}
                    {% for dd in dp[k] %}
                        {% if begin in dd.classes %}
                            {% set length = length + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if length %}
                        <th>{{ percent_progress_total[k] }}%</th>
                    {% endif %}
                {% endfor %}
            </tr>
        {% elseif init_begin == 3 or init_begin == 4 %}
            {% for l in progress_levels3 %}
                <tr>
                    <td>Прогресс типа {{ l }}</td>
                    {% for k,g in gdp %}
                        {% set length = 0 %}
                        {% for dd in dp[k] %}
                            {% if begin in dd.classes %}
                                {% set length = length + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if length %}
                            <th>{{ percent_progress_total[k][l] }}%</th>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% elseif init_begin == 5 %}
            {% for l in progress_levels5 %}
                <tr>
                    <td>{{ progress_levels5_labels[l] }}</td>
                    {% for k,g in gdp %}
                        <th>{{ percent_progress_total[k][l] }}%</th>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>

{% if get_data.mode != 'excel' %}
<h3>Диаграмма &laquo;{{labels.progress.diagrams[0]|raw}}&raquo;</h3>
<p>
    <script>
    $(document).ready(function(){
        var labels = [
            {% for k,g in gdp %}
                {% set length = 0 %}
                {% for dd in dp[k] %}
                    {% if begin in dd.classes %}
                        {% set length = length + 1 %}
                    {% endif %}
                {% endfor %}
                {% if length or init_begin == 5 %}
                    "{{ g }}",
                {% endif %}
            {% endfor %}
        ];

        var dataset = [];
        {% if init_begin == 2 %}
            dataset = [
                {% for k,g in gdp %}
                    {% set length = 0 %}
                    {% for dd in dp[k] %}
                        {% if begin in dd.classes %}
                            {% set length = length + 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if length %}
                        "{{ percent_progress_total[k] }}",
                    {% endif %}
                {% endfor %}
            ];
        {% elseif init_begin == 3 or init_begin == 4 %}
            {% for kl,l in progress_levels3 %}
                dataset[{{ kl }}] = [
                    {% for k,g in gdp %}
                        {% set length = 0 %}
                        {% for dd in dp[k] %}
                            {% if begin in dd.classes %}
                            {% set length = length + 1 %}
                            {% endif %}
                        {% endfor %}
                        {% if length %}
                            "{{ percent_progress_total[k][l] }}",
                        {% endif %}
                    {% endfor %}
                ];
            {% endfor %}
        {% elseif init_begin == 5 %}
            {% for kl,l in progress_levels5 %}
                dataset[{{ kl }}] = [
                    {% for k,g in gdp %}
                        "{{ percent_progress_total[k][l] }}",
                    {% endfor %}
                ];
            {% endfor %}
        {% endif %}

        var datasets = [];
        {% if init_begin == 2 %}
            datasets =  [
                {
                    label: "Обобщенный прогресс",
                    backgroundColor: "#5b9bd5",
                    data: dataset
                }
            ];
        {% elseif init_begin == 3 or init_begin == 4 %}
            datasets =  [
                {% for kl,l in progress_levels3 %}
                {
                    label: "Прогресс типа {{ l }}",
                    backgroundColor: "#{{ progress_levels3_colors[kl] }}",
                    data: dataset[{{ kl }}]
                }{% if not loop.last %},{% endif %}
                {% endfor %}
            ];
        {% elseif init_begin == 5 %}
            datasets =  [
                {% for kl,l in progress_levels5 %}
                {
                    label: "{{ progress_levels5_labels[l] }}",
                    backgroundColor: "#{{ progress_levels5_colors[kl] }}",
                    data: dataset[{{ kl }}]
                }{% if not loop.last %},{% endif %}
                {% endfor %}
            ];
        {% endif %}

        var data = {
            labels: labels,
            datasets: datasets
        };

        Chart.defaults.global.defaultFontColor = "#000";
        var ctx = $("#chart");
        new Chart(ctx, {
            type: 'bar',
            data: data,
            options: {
                legend: {
                    position: 'top'
                },
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            var allData = data.datasets[tooltipItem.datasetIndex].data;
                            var tooltipLabel = data.labels[tooltipItem.index];
                            var tooltipData = allData[tooltipItem.index];
                            return tooltipLabel + ': ' + tooltipData + '%';
                        }
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontSize: 12,
                            maxRotation: 45
                        }
                    }]
                }
            }
        });
    });
</script>
    <canvas id="chart" class="print_canvas" width="400" height="100"></canvas>
</p>
{% endif %}
{% set height = 0 %}
{% for d in dp %}
    {% for dd in d %}
        {% if begin in dd.classes %}
            {% if height < dd.short_name|length %}{% set height = dd.short_name|length %}{% endif %}
        {% endif %}
    {% endfor %}
{% endfor %}

<h3>Таблица &laquo;{{labels.progress.tables[2]|raw}}&raquo;</h3>
<div {% if not get_data.mode %}class="table-responsive"{% endif %}>
    <table class="table table-bordered th_centered vertical-text table-condensed">
        <thead>
        {% if init_begin == 5 %}
            <tr>
                <th>{{ init_begin }} класс</th>
                {% set length = 1 %}
                {% for k,g in gdp %}
                    {% if subgroups[init_begin][k] is defined %}
                        {% set length = length + 1 %}
                        <th colspan="{{ subgroups[init_begin][k]|length }}">{{ g }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            <tr>
                <th>Группы УУД</th>
                {% for k,g in gdp %}
                    {% for sub in subgroups[init_begin][k] %}
                        <th>{{ sub.name }}</th>
                    {% endfor %}
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <th></th>
                {% for k,g in gdp %}
                    {% set length = 0 %}
                    {% for dd in dp[k] %}
                        {% if begin in dd.classes %}
                            <th class="td_centered">
                                <svg width="12" height="{{ height*8+10 }}">
                                    <text x="10" y="{{ height*8/2+5 }}" transform="rotate(-90, 10, {{ height*8/2+5 }})" style="text-anchor:middle; font-size:14px">{{ dd.short_name }}</text>
                                </svg>
                            </th>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endif %}
        </thead>
        {% if init_begin == 2 %}
            <tr>
                <td>% детей, имеющих прогресс  в развити УУД</td>
                {% for k,g in gdp %}
                    {% set length = 0 %}
                    {% for dd in dp[k] %}
                        {% if begin in dd.classes %}
                            <th class="td_centered">
                                {{ percent_progress[dd.id]|round(0,'floor')|replace(',', '.') }}%
                            </th>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        {% elseif init_begin == 3 or init_begin == 4 %}
            {% for l in progress_levels3 %}
                <tr>
                    <td>% детей, имеющих группу прогресса {{ l }}</td>
                    {% for k,g in gdp %}
                        {% set length = 0 %}
                        {% for dd in dp[k] %}
                            {% if begin in dd.classes %}
                                <th class="td_centered">
                                    {{ percent_progress[dd.id][l]|round(0,'floor')|replace(',', '.') }}%
                                </th>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% elseif init_begin == 5 %}
            {% for l in progress_levels5 %}
                <tr>
                    <td>{{ progress_levels5_labels[l] }}</td>
                    {% for k,g in gdp %}
                        {% for kk,dd in subgroups[init_begin][k] %}
                            <th class="td_centered">
                                {{ percent_progress[kk][l]|round(0,'floor')|replace(',', '.') }}%
                            </th>
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>

{% if get_data.mode != 'excel' %}
<h3>Диаграмма &laquo;{{labels.progress.diagrams[1]|raw}}&raquo;</h3>
<p>
    <script>
        $(document).ready(function(){
            var labels = [
                {% for k,g in gdp %}
                    {% if init_begin == 5 %}
                        {% for sub in subgroups[init_begin][k] %}
                            "{{ sub.name }}",
                        {% endfor %}
                    {% else %}
                        {% for dd in dp[k] %}
                            {% if begin in dd.classes %}
                                "{{ dd.short_name }}",
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            ];

            var dataset = [];
            {% if init_begin == 2 %}
                dataset = [
                    {% for k,g in gdp %}
                        {% for dd in dp[k] %}
                            {% if begin in dd.classes %}
                                "{{ percent_progress[dd.id]|round(0,'floor')|replace(',', '.') }}",
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                ];
            {% elseif init_begin == 3 or init_begin == 4 %}
                {% for kl,l in progress_levels3 %}
                    dataset[{{ kl }}] = [
                        {% for k,g in gdp %}
                            {% for dd in dp[k] %}
                                {% if begin in dd.classes %}
                                    "{{ percent_progress[dd.id][l]|round(0,'floor')|replace(',', '.') }}",
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    ];
                {% endfor %}
            {% elseif init_begin == 5 %}
                {% for kl,l in progress_levels5 %}
                    dataset[{{ kl }}] = [
                        {% for k,g in gdp %}
                            {% for kk,dd in subgroups[init_begin][k] %}
                                "{{ percent_progress[kk][l]|round(0,'floor')|replace(',', '.') }}",
                            {% endfor %}
                        {% endfor %}
                    ];
                {% endfor %}
            {% endif %}

            var datasets = [];
            {% if init_begin == 2 %}
                datasets =  [
                    {
                        label: "Обобщенный прогресс",
                        backgroundColor: "#5b9bd5",
                        data: dataset
                    }
                ];
            {% elseif init_begin == 3 or init_begin == 4 %}
                datasets =  [
                    {% for kl,l in progress_levels3 %}
                    {
                        label: "Прогресс типа {{ l }}",
                        backgroundColor: "#{{ progress_levels3_colors[kl] }}",
                        data: dataset[{{ kl }}]
                    }{% if not loop.last %},{% endif %}
                    {% endfor %}
                ];
            {% elseif init_begin == 5 %}
                datasets =  [
                    {% for kl,l in progress_levels5 %}
                    {
                        label: "Прогресс типа {{ l }}",
                        backgroundColor: "#{{ progress_levels5_colors[kl] }}",
                        data: dataset[{{ kl }}]
                    }{% if not loop.last %},{% endif %}
                    {% endfor %}
                ];
            {% endif %}

            var data = {
                labels: labels,
                datasets: datasets
            };

            Chart.defaults.global.defaultFontColor = "#000";
            var ctx = $("#chart2");
            new Chart(ctx, {
                type: 'bar',
                data: data,
                options: {
                    legend: {
                        position: 'top'
                    },
                    tooltips: {
                        callbacks: {
                            label: function(tooltipItem, data) {
                                var allData = data.datasets[tooltipItem.datasetIndex].data;
                                var tooltipLabel = data.labels[tooltipItem.index];
                                var tooltipData = allData[tooltipItem.index];
                                return tooltipLabel + ': ' + tooltipData + '%';
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                min: 0
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                fontSize: 12,
                                maxRotation: 45,
                            }
                        }]
                    }
                }
            });
        });
    </script>
    <canvas id="chart2" class="print_canvas" width="400" height="100"></canvas>
</p>
{% endif %}