{% if show_stats and not get_data.import and not download %} {# inputResults задается в uud_show.php. Проверить, если родителская не отчет, а ug/uud_show/1563. Если надо, то сделать другой заголовок #}
    {% if inputResults %}
    <h3>Результаты ввода данных</h3>
    {% else %}
    <h3>Таблица &laquo;{{ labels.general.tables[0] }}&raquo;</h3>
    {% endif %}
{% endif %}

{% import "/source/tdClass.html" as tdclass %}
{% if edit %}
<form id="edit_student">
    <input type="hidden" name="act" value="save">
    <input type="hidden" name="id" value="{{ students[0].id }}">
    <input type="hidden" name="id_study_group" value="{{ id_study_group }}">
    <input type="hidden" name="class" value="{{ begin }}">
    <div class="form-inline" style="margin-bottom: 10px;">
        <div class="form-group">
            <label for="fio">ФИО*: </label>
            <input id="fio" class="form-control" type="text" name="fio" value="{{ students[0].fio }}"
                   style="width: 250px;" required>
        </div>
        <div class="form-group">
            <label for="contacts"> Примечания: </label>
            <textarea rows="1" class="form-control" name="contacts" id="contacts"
                      style="width: 770px;">{{ students[0].contacts }}</textarea>
        </div>
    </div>
    <div class="form-inline" style="margin-bottom: 10px;">
        <div class="form-group">
            <label for="begin_start">Начало обучения*: </label>
            <select id="begin_start" name="begin_start">
                {% for i in 1..5 %}
                    <option value="{{ i }}" {% if students[0].begin_start == i %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="begin_end">Конец обучения*: </label>
            <select id="begin_end" name="begin_end">
                <option></option>
                {% for i in 1..5 %}
                    <option value="{{ i }}" {% if students[0].begin_end == i %}selected{% endif %}>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endif %}
    {# высчитываем высоту строки для показателй, чтобы можно было развернуть их нормально в svg #}
    {% set height = 0 %}
    {% for d in dp %}
        {% for dd in d %}
            {% if height < dd.short_name|length %}{% set height = dd.short_name|length %}{% endif %}
        {% endfor %}
    {% endfor %}
    {% set gdp_height = 0 %}
    {% for k,g in gdp %}
        {% if gdp_height < g|length %}{% set gdp_height = g|length %}{% endif %}
    {% endfor %}

    {% set subgroup_height = 0 %}
    {% for k,g in gdp %}
        {% for sub in subgroups[begin][k] %}
            {% if subgroup_height < sub.name|length %}{% set subgroup_height = sub.name|length %}{% endif %}
        {% endfor %}
    {% endfor %}
    {# конец расчетов #}

    <div {% if not get_data.mode %}class="table-responsive"{% endif %}>
        <table class="table table-bordered th_centered vertical-text table-condensed">
            <thead>
            {% if gdp[0] != 'not_show' %}
                <tr>
                    {% if show_stats %}
                        <th rowspan="1" style="vertical-align: middle;">{{ begin }} класс</th>
                    {% endif %}
                    {% for k,g in gdp %}
                        {% set length = 0 %}
                        {% if subgroups[begin] is defined and show_summary %}
                            {% set length = subgroups[begin][k]|length %}
                        {% else %}
                            {% for dd in dp[k] %}
                                {% if not show_summary %}
                                    {% set length = length + dd['extra']['fields']|length %}
                                {% else %}
                                    {% set length = length + 1 %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <th colspan="{{ length }}">{{ g }}</th>
                    {% endfor %}
                    {% if show_summary %}
                        <th colspan="{{ gdp|length+1 }}">Сводные показатели</th>
                    {% endif %}
                </tr>
            {% endif %}

            {# для сводных показателей #}
            {% set gdp_capture %}
                {% if show_summary %}
                    {% for k,g in gdp %}
                        <th>
                            <svg width="12" height="{{ gdp_height*8+10 }}">
                                <text x="10" y="{{ gdp_height*8/2+5 }}" transform="rotate(-90, 10, {{ gdp_height*8/2+5 }})"
                                      style="text-anchor:middle; font-size:14px">{{ g }}</text>
                            </svg>
                        </th>
                    {% endfor %}
                {% endif %}
            {% endset %}

            {% set subgroups_capture %}
                {# если есть подгруппы, пока используется в 5 классе только #}
                {% for k,g in gdp %}
                    {% for sub in subgroups[begin][k] %}
                        {% if show_summary %}
                            <th>
                                <svg width="14" height="{{ subgroup_height*9+10 }}">
                                    <text x="10" y="{{ subgroup_height*9/2+5 }}" transform="rotate(-90, 12, {{ subgroup_height*9/2+5 }})"
                                          style="text-anchor:middle; font-size:14px">{{ sub.name }}</text>
                                </svg>
                            </th>
                        {% else %}
                            <th colspan="{{ sub.length }}">{{ sub.name }}</th>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endset %}

            {% set dp_capture %}
                {% for k,g in gdp %}
                    {% for dd in dp[k] %}
                        {% if not show_summary %}
                            {% set length = dd['extra']['fields']|length %}
                        {% else %}
                            {% set length = 1 %}
                        {% endif %}
                        <th class="td_centered" colspan="{{ length }}">
                            {% if get_data.mode == 'excel' %}
                                {{ dd.short }}
                            {% else %}
                            <svg width="12" height="{{ height*8+10 }}">
                                <text x="10" y="{{ height*8/2+5 }}" transform="rotate(-90, 10, {{ height*8/2+5 }})"
                                      style="text-anchor:middle; font-size:14px">{{ dd.short_name }}</text>
                            </svg>
                            {% endif %}
                        </th>
                    {% endfor %}
                {% endfor %}
            {% endset %}

            {% if show_stats %}
                <tr>
                    {% if show_summary and subgroups[begin] is defined %}
                        {% set rowspan = 1 %}
                    {% elseif not show_summary and subgroups[begin] is not defined %}
                        {% set rowspan = 3 %}
                    {% elseif show_summary %}
                        {% set rowspan = 1 %}
                    {% else %}
                        {% set rowspan = 4 %}
                    {% endif %}
                    <th rowspan="{{ rowspan }}" style="vertical-align: middle;">Фамилия, Имя</th>

                    {% if subgroups[begin] is defined and show_stats %}
                        {{ subgroups_capture }}
                    {% else %}
                        {{ dp_capture }}
                    {% endif %}
                    {{ gdp_capture }}
                    {% if show_summary %}
                        <th>Общий уровень</th>
                    {% endif %}
                </tr>
            {% endif %}
            {% if (subgroups[begin] is defined and show_stats and not show_summary) or edit %}
            <tr>
                {{ dp_capture }}
            </tr>
            {% endif %}
            {% if not show_summary %}
                <tr>
                    {% for k,g in gdp %}
                        {% for dd in dp[k] %}
                            {% if not show_summary %}
                                {% set length = dd['extra']['fields']|length %}
                            {% else %}
                                {% set length = 1 %}
                            {% endif %}
                            <th class="td_centered" colspan="{{ length }}"
                                {% if dd.one_field %}rowspan="2"{% endif %}>
                                {% if dd.one_field %}
                                    {{ dd['one_field'] }}
                                {% else %}
                                    {{ dd['extra']['name'] }}
                                {% endif %}
                            </th>
                        {% endfor %}
                    {% endfor %}
                </tr>
                <tr>
                    {% for k,g in gdp %}
                        {% for dd in dp[k] %}
                            {% if not dd.one_field %}
                                {% for field_name in dd['extra']['fields'] %}
                                    <th class="td_centered">{{ field_name }}</th>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endif %}
            </thead>
            {% for s in students %}
                {% if (id and s.id == id) or not id or id == 'all' %}
                    <tr>
                        {% if show_stats %}
                            <td {% if not edit %}style="width: 100%;"{% endif %}>
                                {% if download %}
                                    {{ s.fio }}
                                {% elseif get_data.mode == 'excel' or get_data.mode == 'print' %}
                                {{ loop.index }}.&nbsp;{{ s.fio }}
                                {% else %}
                                {{ loop.index }}.&nbsp;<a title="Редактировать данные ученика {{ s.fio }}" name="{{ s.id }}" href="" class="edit_student" data-id="{{ s.id }}" data-begin="{{ begin }}">{{ s.fio }}</a>
                                {% endif %}
                                {% if not edit and not show_summary and not get_data.mode and not download %}
                                    <div class="pull-right">
                                        <a title="Редактировать данные ученика {{ s.fio }}" name="{{ s.id }}" href="" class="edit_student" data-id="{{ s.id }}" data-begin="{{ begin }}">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </a>
                                        &nbsp;
                                        <a title="Отчёт &laquo;Индивиудальные результаты&raquo;. {{ s.fio }}" href="/results/report/individual/{{ ug.id }}/{{ s.id }}?begin={{ begin }}">
                                            <span class="glyphicon glyphicon-list-alt"></span>
                                        </a>
                                    </div>
                                {% endif %}
                            </td>
                        {% endif %}
                        {% for k,g in gdp %}
                            {% if subgroups[begin] is defined and show_summary %}
                                {% set low_check = 2 %}
                                {% for sub in subgroups[begin][k] %}
                                    {% set sum = 0 %}
                                    {% set is_defined = false %}
                                    {% for sub_dp in sub['dp'] %}
                                        {% set sum = sum + results[s.id][sub_dp]['total'] %}
                                        {% if results[s.id][sub_dp]['total'] is not null %}
                                            {% set is_defined = true %}
                                        {% endif %}
                                    {% endfor %}
                                    <td class="td_centered {% if is_defined %}{% if sum > low_check %}bg_success_uud{% elseif sum == 2 %}bg_middle_uud{% else %}bg_danger_uud{% endif %}{% endif %}">
                                        {% if is_defined %}
                                            {{ sum }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            {% else %}
                                {% for dd in dp[k] %}
                                    {% set summ = 0 %}
                                    {% if begin < 3 %}
                                        {% if field_name in dd['extra']['summary_fields'] %}
                                            {% set low_check = 2 %}
                                        {% else %}
                                            {% set low_check = 1 %}
                                        {% endif %}
                                    {% else %}
                                        {% set low_check = 0 %}
                                    {% endif %}

                                    {% if not show_summary %}
                                        {% for field_name in dd['extra']['fields'] %}
                                            {% set class = '' %}
                                            {% if not edit %}
                                                {% if results[s.id][dd.id][field_name] is not null %}
                                                    {% if results[s.id][dd.id][field_name] > low_check %}
                                                        {% if begin < 3 %}
                                                            {% set class = 'bg_success_uud' %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% set class = 'bg_danger_uud' %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            <td class="td_centered uud_enter {{ class }}">
                                                {% if edit %}
                                                    <input type="text" name="dp[{{ dd.id }}][{{ field_name }}]"
                                                           value="{% if results[dd.id][field_name] is defined %}{% if field_name in dd['extra']['float_fields'] %}{{ results[dd.id][field_name] }}{% else %}{{ results[dd.id][field_name]|number_format }}{% endif %}{% endif %}"
                                                           style="width: {% if field_name in dd['extra']['float_fields'] %}30{% else %}20{% endif %}px;"
                                                           maxlength="{% if field_name in dd['extra']['float_fields'] %}3{% else %}1{% endif %}"
                                                           class="enter_value">
                                                {% else %}
                                                    {{ results[s.id][dd.id][field_name] }}
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    {% else %}
                                        <td class="td_centered {% if results[s.id][dd.id]['total'] is not null %}{{ tdclass.format(begin, results[s.id][dd.id]['total']) }}{% endif %}">
                                            {{ results[s.id][dd.id]['total'] }}
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        {% if show_summary %}
                            {% for k,g in gdp %}
                                {% if gdp_total[s.id][k] is defined %}
                                    {% if subgroups[begin] is defined %}
                                        {% set av_gdp_val = (gdp_total[s.id][k]/subgroups[begin][k]|length)|round(1, 'floor')|replace(',', '.') %}
                                    {% else %}
                                        {% set av_gdp_val = (gdp_total[s.id][k]/dp[k]|length)|round(1, 'floor')|replace(',', '.') %}
                                    {% endif %}
                                {% endif %}
                                <td class="td_centered {{tdclass.format(begin, av_gdp_val)}}">{{av_gdp_val}}</td>
                            {% endfor %}
                            {% set gdp_total_total = null %}
                            {% for k,g in gdp %}
                                {% if gdp_total[s.id][k] is defined %}
                                    {% if subgroups[begin] is defined %}
                                        {% set gdp_total_total = gdp_total_total + (gdp_total[s.id][k]/subgroups[begin][k]|length) %}
                                    {% else %}
                                        {% set gdp_total_total = gdp_total_total + (gdp_total[s.id][k]/dp[k]|length) %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if gdp_total_total is not null %}
                                {% set gdp_total_total = (gdp_total_total/gdp|length)|round(1, 'floor') %}
                            {% endif %}
                            <td class="td_centered {{tdclass.format(begin, gdp_total_total)}}">
                                {{ gdp_total_total|replace(',', '.') }}
                            </td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endfor %}
            {% if show_summary %}
                <tr>
                    <th style="text-align: left;">Значение по классу</th>
                    {% for k,g in gdp %}
                        {% if subgroups[begin] is defined and show_summary %}
                            {% for sub in subgroups[begin][k] %}
                                {% set sum = 0 %}
                                {% for sub_dp in sub['dp'] %}
                                    {% set sum = sum + total[sub_dp] %}
                                {% endfor %}

                                {% set av_gdp_val = (sum/students|length)|round(1, 'floor') %}
                                <td class="td_centered {{tdclass.format(begin, av_gdp_val)}}">
                                    {{ (sum/students|length)|round(1, 'floor')|replace(',','.') }}
                                </td>
                            {% endfor %}
                        {% else %}
                            {% for kk,dd in dp[k] %}
                                {% set total_value = (total[kk]/students|length)|round(1, 'floor') %}
                                <td class="td_centered {{ tdclass.format(begin, total_value) }}">{{ total_value|replace(',','.') }}</td>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {% set av_total = 0 %}
                    {% for k,g in gdp %}
                        {% if subgroups[begin] is defined and show_summary %}
                            {% set sum = 0 %}
                            {% for sub in subgroups[begin][k] %}
                                {% for sub_dp in sub['dp'] %}
                                    {% set sum = sum + total[sub_dp] %}
                                {% endfor %}
                            {% endfor %}
                            {% set av_gdp = (sum/students|length/subgroups[begin][k]|length) %}
                            {% set av_total = av_total + av_gdp %}
                            {% set av_gdp_val = av_gdp|round(1, 'floor') %}

                            <td class="td_centered {{tdclass.format(begin, av_gdp_val)}}">
                                {{ av_gdp|round(1, 'floor')|replace(',','.') }}
                            </td>
                        {% else %}
                            {% set sum = 0 %}
                            {% for kk,dd in dp[k] %}
                                {% set sum = sum + total[kk]/students|length %}
                            {% endfor %}
                            {% set av_gdp = (sum/dp[k]|length) %}
                            {% set av_total = av_total + av_gdp %}

                            <td class="td_centered {{ tdclass.format(begin, av_gdp) }}">{{ av_gdp|round(1, 'floor')|replace(',','.') }}</td>
                        {% endif %}
                    {% endfor %}

                    {% set av_gdp_val = (av_total/gdp|length)|round(1, 'floor') %}
                    <td class="td_centered {{tdclass.format(begin, av_gdp_val)}}">{{ (av_total/gdp|length)|round(1, 'floor')|replace(',','.') }}</td>
                </tr>
            {% endif %}
        </table>

        {% if show_stats and get_data.mode != 'excel' and not download %}
            {% if begin == 5 and show_summary %}
                <table class="uud_group_legend">
                    <thead>
                        <tr>
                            <th colspan="2">Условные обозначения</th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="td_centered bg_success_uud"></td>
                        <td>высокий уровень</td>
                    </tr>
                    <tr>
                        <td class="td_centered bg_middle_uud"></td>
                        <td>средний уровень</td>
                    </tr>
                    <tr>
                        <td class="td_centered bg_danger_uud"></td>
                        <td>низкий уровень</td>
                    </tr>
                </table>
            {% else %}
                <table class="uud_group_legend">
                    <thead>
                    <tr>
                        <th colspan="2">Условные обозначения</th>
                    </tr>
                    </thead>
                    <tr>
                        {% if show_summary %}
                            <td class="td_centered bg_success_uud"></td>
                            <td>базовый уровень</td>
                        {% else %}
                            {% if begin <= 2 %}
                                <td class="td_centered bg_success_uud"></td>
                                <td>справился с заданием</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="td_centered bg_danger_uud"></td>
                        {% if show_summary %}
                            <td>уровень ниже базового</td>
                        {% else %}
                            <td>не справился с заднием</td>
                        {% endif %}
                    </tr>
                </table>
            {% endif %}
        {% endif %}
        {% if not show_summary %}
            <div>З – задание из диагностической тетради</div>
            {% if begin > 2 %}
                <div>У – задание диагностического урока</div>
            {% endif %}
        {% endif %}
    </div>
    {% if edit %}
        <div class="form-group">
            <a href="" id="delete_student_confirm">Удалить все данные ребенка</a>
            <div id="delete_student_form">
                <div class="alert alert-danger" role="alert">Вы действительно хотите безвозвратно удалить данные
                    ребенка?
                </div>
                <a href="" class="btn btn-danger" id="delete_student" data-id="{{ students[0].id }}">Удалить</a>
                <a href="" class="btn btn-default" id="delete_student_cancel">Отменить</a>
            </div>
        </div>
        <div class="alert alert-warning" id="force_save_alert" role="alert" style="display: none;">Вы внесли не все
            диагностические данные.
        </div>
    {% endif %}
{% if edit %}
</form>
{% endif %}