<h3>Таблица &laquo;{{labels.groups.tables[0]}}&raquo;</h3>

<div {% if not get_data.mode %}class="table-responsive"{% endif %}>
    <table class="table table-bordered th_centered vertical-text table-condensed">
        <thead>
        {% set height = 0 %}
        {% for d in dp %}
            {% for dd in d %}
                {% if begin in dd.classes %}
                    {% if height < dd.short_name|length %}{% set height = dd.short_name|length %}{% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        <tr>
            <th style="vertical-align: middle;">Фамилия, Имя</th>
            {% for k,g in gdp %}
                {% for dd in dp[k] %}
                    {% if begin in dd.classes %}
                        <th class="td_centered">
                            <svg width="12" height="{{ height*8+10 }}">
                                <text x="10" y="{{ height*8/2+5 }}" transform="rotate(-90, 10, {{ height*8/2+5 }})" style="text-anchor:middle; font-size:14px">{{ dd.short_name }}</text>
                            </svg>
                        </th>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <th>Преобладающая у ребенка группа</th>
        </tr>
        </thead>
        {% for s in students %}
            {% if (id and s.id == id) or not id or id == 'all' %}
                <tr>
                    <td style="width: 100%;">
                        {{ s.fio }}
                    </td>
                    {% for k,g in gdp %}
                        {% for dd in dp[k] %}
                            {% set summ = 0 %}
                            {% if begin in dd.classes %}
                                <td class="td_centered uud_group{{ dp_groups[s.id][begin][dd.id] }}">{{ dp_groups[s.id][begin][dd.id] }}</td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <td class="td_centered uud_group{{ dp_groups[s.id][begin]['total'] }}">
                        {{ dp_groups[s.id][begin]['total'] }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <th style="text-align: left;">Преобладающая в классе группа</th>
            {% for k,g in gdp %}
                {% for dd in dp[k] %}
                    {% if begin in dd.classes %}
                        <th class="td_centered">
                            {{ dp_groups_total[begin][dd.id]['total'] }}
                        </th>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <td></td>
        </tr>
    </table>

{% if get_data.mode != 'excel' %}
    <table class="uud_group_legend">
        <thead>
        <tr>
            <th colspan="3">Условные обозначения</th>
        </tr>
        </thead>
        <tr>
            <td>Группа</td>
            <td class="td_centered uud_group1">1</td>
            <td>справились с заданиями "на выполнение" и "на ориентацию"</td>
        </tr>
        <tr>
            <td>Группа</td>
            <td class="td_centered uud_group2">2</td>
            <td>справились с заданиями "на выполнение" и не справились "на ориентацию"</td>
        </tr>
        <tr>
            <td>Группа</td>
            <td class="td_centered uud_group3">3</td>
            <td>не справились с заданиями "на выполнение" и справились "на ориентацию"</td>
        </tr>
        <tr>
            <td>Группа</td>
            <td class="td_centered uud_group4">4</td>
            <td>не справились с заданиями "на выполнение" и "на ориентацию"</td>
        </tr>
    </table>
{% endif %}
</div>