<div class="col-xs-6">
    <ul class="list-unstyled">
        <li><b>Обозначение группы мониторинга:</b> {{ ug.name }}</li>
        <li><b>Педагог:</b> {{ug.owner_fio}}</li>
        <li><b>Количество учащихся в классе:</b> {{ students|length }}</li>
        <li><b>Дата проведения диагностики:</b> {{ug.dates[begin]}}</li>
        <li><b>Образовательная организация:</b> {{ug.name_education}}</li>
    </ul>
</div>