<div class="add_html">
<form id="edit_form" style="width: 500px">
    <input type="hidden" name="id" value="{{element.id}}">
    <input type="hidden" name="act" value="save">
    <input type="hidden" name="mode" value="{{mode|default('new')}}">

    <ul class="nav nav-tabs" id="form_tabs">
        <li class="active"><a href="#tabs-1">Общее</a></li>
        <li><a href="#tabs-2">УМК</a></li>
    </ul>

    <div class="tab-content">
        <div id="tabs-1" class="tab-pane fade in active">
            <div class="body"><span class="title">Владелец:</span>
                <select name="owner">
                    {% for u in users %}
                        <option value="{{ u.id_user }}" {% if u.id_user == element.owner %}selected{% endif %}>{{ u.fio }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="body"><span class="title">Название:</span>
                <div><input type="text" name="name" class="input" style="width:350px;" value="{{element.name}}"></div></div>
            <div class="body"><span class="title">Название образовательного учреждения:</span>
                <div><input type="text" name="name_education" class="input" style="width:350px;" value="{{element.name_education}}"></div></div>
            <div class="body"><span class="title">Дата проведения диагностики:</span>
                <div><input type="text" name="date" class="input" style="width:350px;" value="{{element.date|date('d.m.Y')}}" readonly></div></div>
        </div>
        <div id="tabs-2" class="tab-pane fade">
            <a title="Добавить" class="fa fa-15x fa-plus-square add-btn-umk"></a>
            <div id="has">
            {% for eu in element.umk %}
                <table style="margin: 20px 0;" class="table table-bordered table-condensed">
                    <tr>
                        <td>
                            <select name="kug[]" class="select_kug">
                                <option>&nbsp;</option>
                                {% for k in kug %}
                                    <option value="{{ k.id }}" {% if eu.id_study_group_category == k.id %}selected{% endif %}>{{ k.name_category_students }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td rowspan="2" style="text-align: center;vertical-align: middle;width: 20px;">
                            <a title="Удалить" class="fa fa-15x fa-trash-o del-btn-umk"></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select name="umk[]">
                                {% for u in umk[eu.id_study_group_category] %}
                                    <option value="{{ u.id }}" {% if eu.id == u.id %}selected{% endif %}>{{ u.name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            {% endfor %}
            </div>

            <div id="for_clone">
            <table style="margin: 20px 0;" class="table table-bordered table-condensed">
                <tr>
                    <td>
                        <select name="kug[]" class="no_style select_kug">
                            <option>&nbsp;</option>
                            {% for k in kug %}
                                <option value="{{ k.id }}">{{ k.name_category_students }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td rowspan="2" style="text-align: center;vertical-align: middle;width: 20px;">
                        <a title="Удалить" class="fa fa-15x fa-trash-o del-btn-umk"></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="umk[]" class="no_style"><option>&nbsp;</option></select>
                    </td>
                </tr>
            </table>
            </div>
        </div>
    </div>
</form>
</div>
