{% include "/source/admin/jpaginator_boot.html" %}
<table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th>Владелец</th>
        <th>Название</th>
        <th>Название образовательного учреждения</th>
        <th>Дата проведения диагностики</th>
        <th>Ссылка</th>
        <th colspan="2">Управление</th>
    </tr>
    </thead>
    <tbody>
    {% for d in data %}
    {% include app.path('ug','admin/elements/row.html') %}
    {% endfor %}
    <tr>
        <td colspan="4">&nbsp;</td>
        <td colspan="2"><a title="Добавить" class="fa fa-15x fa-plus-square add-btn"></a></td>
    </tr>
    </tbody>
</table>
