{% extends "/source/wrapper_index.html" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{app.path('users','users.css')}}">
{% endblock %}
{% block js %}
<script type="text/javascript" src="{{app.path('users','edit.js')}}"></script>
{% endblock %}

{% block sidebar %}
	На этой странице вы можете управлять вашими персональными данными, а также изменять пароль. Как управлять вашими персональными данными, описано в разделе справки <a href="/info/user_data/edit/">Изменение персональных данных</a>.
{% endblock %}

{% block body %}
<h1 class="h1">Мои данные</h1>
<form id="edit_profile" method="POST">
    <input type="hidden" name="act" value="save_profile">
    <input type="hidden" name="id" value="{{ user.id_user }}">
    <div class="form-group">
        <label class="control-label" for="fio">ФИО</label>
        <input type="text" name="fio" id="fio" value="{{user.fio}}" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label" for="email">Email</label>
        <input type="text" name="email" id="email" value="{{user.email}}" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label class="control-label" for="region">Регион</label>
        <select name="region" id="region" class="form-control">
            {% for r in regions %}
                <option value="{{ r.regioncode }}" {% if user.region == r.regioncode %}selected{% endif %}>{{ r.formalname }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label class="control-label" for="city">Город</label>
        <select name="city" id="city" class="form-control">
            {% for c in cities %}
                <option value="{{ c.citycode~"|"~c.areacode }}" {% if user.city == c.citycode and user.areacode == c.areacode %}selected{% endif %}>{{ c.formalname }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label class="control-label" for="locality">Населенный пункт</label>
        <input type="text" name="locality" id="locality" value="{{user.locality}}" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label" for="name_oo">Наименование образовательной организации</label>
        <input type="text" name="name_oo" id="name_oo" value="{{user.name_oo}}" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label" for="position">Должность</label>
        <input type="text" name="position" id="position" value="{{user.position}}" class="form-control" />
    </div>
    <div class="form-group">
        <a href="" class="btn btn-primary" id="save_profile">Сохранить</a>
        <a href="" id="btn_change_pass" style="margin-left: 10px;">Изменить пароль</a>
    </div>
</form>

<form id="change_password_form" style="padding-top: 50px;display: none">
    <input type="hidden" name="act" value="change_password">
    <div class="form-group">
        <label class="control-label" for="old_pass">Текущий пароль</label>
        <input type="password" class="form-control" id="old_pass" name="old_pass" placeholder="Текущий пароль" value="" />
    </div>
    <div class="form-group">
        <label class="control-label" for="new_pass">Новый пароль</label>
        <input type="password" class="form-control" id="new_pass" name="new_pass" placeholder="Новый пароль" />
    </div>
    <div class="form-group">
        <label class="control-label" for="repear_pass">Подтверждения пароля</label>
        <input type="password" class="form-control" id="repear_pass" name="repeat_pass" placeholder="Подтверждения пароля" />
    </div>
    <div class="form-group">
        <a class="btn btn-xs btn-primary" href="" id="change_password">Сохранить</a>
        <a href="" id="btn_change_pass_cancel" style="margin-left: 10px;">Отменить</a>
    </div>
</form>
{% endblock %}