{% extends "/source/wrapper_index.html" %}

{% block js %}
<script type ="text/javascript" src="{{app.path('users','login.js')}}"></script>
<script type ="text/javascript" src="{{app.path('users','reg.js')}}"></script>
{% endblock %}
{% set hide_sidebar = true %}
{% block body %}
<div class="jumbotron">
    <p style="text-align: right">
        <a href="//idfedorov.ru/" target="_blank"><img src="//idfedorov.ru/images/page/cat_logo.png" width="300" height="65" alt="Издательский дом «Федоров»" title="Издательский дом «Федоров»"></a>
    </p>
    <div class="row">
        <div class="col-md-6">
            <h2>Школьный старт</h2>
            <p>Педагогическая диагностика по&nbsp;УМК «Школьный старт» позволяет проверить готовность дошкольников и&nbsp;первоклассников к&nbsp;обучению в&nbsp;школе, определить, насколько сформированы базовые умения, необходимые ребенку для того, чтобы понимать материал учебника и&nbsp;выполнять инструкции.</p>
            <a class="btn btn-lg btn-default" href="/uploads/Met_Start_2016.pdf">Методические рекомендации</a>
        </div>
        <div class="col-md-6">
            <h2>Учимся Учиться и Действовать</h2>
            <p>С помощью УМК «Учимся учиться и&nbsp;действовать» педагог может отслеживать формирование метапредметных универсальных учебных действий у&nbsp;учащихся с&nbsp;1 по&nbsp;5 класс (у&nbsp;каждого ребенка в&nbsp;отдельности, по&nbsp;классу и&nbsp;параллели в&nbsp;целом), а&nbsp;также ставить педагогические и&nbsp;психологические задачи.</p>
            <a class="btn btn-lg btn-default" href="//idfedorov.ru/diagnosticsandmonitoring/monitoringofuud">Методические рекомендации</a>
        </div>
    </div>
</div>
{% include app.path('users', 'login_form.html') %}
{% endblock %}
