<!--<h2>Начало работы</h2>-->
<div class="col-md-6">
  <h3>Вход</h3>
  <form id="login_form">
    <input type="hidden" name="act" value="login">

    <div class="form-group">
      <label for="login">Email</label>
      <input autofocus="autofocus" type="email" class="form-control" id="login" name="email">
    </div>

    <div class="form-group">
      <label for="password">Пароль</label>
      <input type="password" class="form-control" name="password" id="password">
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="cookie"> запомнить
      </label>
    </div>
    <p><input type="submit" class="btn btn-success btn-lg btn-block login" value="Войти"></p>
    <a href="/users/recovery">Напомнить пароль</a>
    <div class="alert alert-danger" style="display: none;"></div>
  </form>
</div>
<div class="col-md-6">
  <h3>Регистрация</h3>
  <form id="registration_form">
    <input type="hidden" name="act" value="registration">

    <div class="form-group">
      <label for="fio">ФИО*</label>
      <input type="text" class="form-control" id="fio" name="fio">
    </div>

    <div class="form-group">
      <label for="region">Регион*</label>
      <select name="region" id="region" class="form-control">
        <option></option>
        {% for r in regions %}
          <option value="{{ r.regioncode }}" {% if user.region == r.regioncode %}selected{% endif %}>{{ r.formalname }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="city">Город*</label>
      <p class="help-block pull-right">Сначала выберите регион</p>
      <select name="city" id="city" class="form-control"></select>
    </div>

    <div class="form-group">
      <label for="locality">Населенный пункт</label>
      <input type="text" class="form-control" id="locality" name="locality">
    </div>

    <div class="form-group">
      <label for="name_oo">Наименование образовательной организации*</label>
      <input type="text" class="form-control" id="name_oo" name="name_oo">
    </div>

    <div class="form-group">
      <label for="email">Email*</label>
      <input type="text" class="form-control" id="email" name="email">
    </div>

    <div class="form-group">
      <label for="password1">Пароль*</label>
      <input type="password" class="form-control" id="password1" name="password1">
    </div>
    <div class="form-group">
      <label for="password2">Подтверждение пароля*</label>
      <input type="password" class="form-control" id="password2" name="password2">
    </div>

    <div class="checkbox" style="padding-left: 0;">
      <label>
        <input type="checkbox" name="agree"> Я согласен с <a href="/terms_conditions" target="_blank">условиями использования</a> системы
      </label>
    </div>
    <p><small>Поля, отмеченные звездочкой, обязательны для заполнения</small></p>
    <input type="submit" class="btn btn-primary btn-lg btn-block registration" value="Зарегистрироваться">
    <div class="alert alert-danger" style="display: none;"></div>
  </form>
</div>