{% extends "/source/wrapper_index.html" %}

{% block js %}
    <script type ="text/javascript" src="{{app.path('users','login.js')}}"></script>
    <script type ="text/javascript" src="{{app.path('users','reg.js')}}"></script>
{% endblock %}
{% set hide_sidebar = true %}
{% block body %}
<div class="jumbotron">
    <h1>
		Школьный старт
		<a class="pull-right" href="//idfedorov.ru/" target="_blank"><img src="//idfedorov.ru/images/page/cat_logo.png" class="iePNG" width="300" height="65" alt="Издательский дом «Федоров»" title="Издательский дом «Федоров»"></a>
	</h1>
	<!--<div class="well">
		<h2>Конкурс «Школьный старт вместе с родителями»</h2>
		<p>
			<a href="//idfedorov.ru/contests/article=5763/" target="_blank">Положение о конкурсе «Школьный старт» вместе с родителями».</a><br>Желающие принять участие должны зарегистрироваться по ссылке:</p>
		<a href="https://goo.gl/forms/DtieCY0HebZFqkpv1" target="_blank" class="btn btn-lg btn-warning" style="margin: 0 auto;display: block;width: 400px;">Регистрация на конкурс</a>
	</div>
	-->
	<h2>Диагностика стартовой готовности к обучению в начальной школе</h2>
    <p>
        Стартовая готовность – это совокупность умений и личностных характеристик, которые позволяют ребенку осваивать учебный материал и включаться в образовательные ситуации, которые создает для него педагог.
    </p>
    <div class="btn-group btn-group-lg" role="group">
		<a class="btn btn-primary" href="/info/about/" role="button">Подробнее о диагностическом комплекте</a>
		<a class="btn btn-info" href="/uploads/Met_Start_2016.pdf" target="_blank" role="button">Методические рекомендации</a>  
		<a class="btn btn-default" href="/info" target="_blank" role="button">Справка</a>
		<a class="btn btn-default" href="/uploads/howto.pdf" target="_blank" role="button">Пошаговая инструкция</a>
	</div>
</div>
{% include app.path('users', 'login_form.html') %}
{% endblock %}