{% extends "/source/wrapper_index.html" %}

{% block sidebar %}
    Следуйте инструкциям мастера восстановления доступа: он поможет вам создать новый пароль. Подробнее о восстановлении доступа написано в разделе справки <a href="/info/first_step/pass_recover/">Восстановление доступа</a>.
{% endblock %}

{% block body %}
<h1>Восстановление пароля</h1>
{% if id %}
    {% if error %}<div class="alert alert-danger" role="alert">{{error}}</div>
    {% elseif change %}
        <div class="alert alert-success" role="alert">Вам отправлено письмо с новым паролем</div>
    {% endif %}
{% else %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{error}}</div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success" role="alert">Вам отправлено письмо с инструкцией</div>
    {% else %}
    <form method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" id="email">
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Запросить восстановление">
        </div>
    </form>
    {% endif %}
{% endif %}
{% endblock %}