{% extends "/source/wrapper_index_blank.html" %}

{% block title %}Регистрация{% endblock %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{app.path('users','reg.css')}}">
{% endblock %}
{% block js %}
    <script type ="text/javascript" src="{{ app.path('/source/js/','masked_input.js',true) }}"></script>
    <script type ="text/javascript" src="{{ app.path('users','reg.js')}}"></script>
{% endblock %}
{% block menu %}{% endblock %}
{% block right_sidebar %}{% endblock %}
{% block body %}
    <div class="container vertical-center">
        <form id="regForm">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Регистрация</b></div>
                <div class="panel-body">
                    {% if add_success %}
                        Вы стали участником
                    {% else %}
                    <div class="alert alert-danger reg_erroru" error="global"></div>
                    <div class="alert alert-success" error="success" style="display: none;"></div>
                    {% if not invite %}
                        <div class="col-xs-12">
                            <div class="form-group">
                                <label for="company">Название компании <span error="company" class="reg_erroru"></span></label>
                                <input type="text" name="company" id="company" maxlength="16" class="form-control" tabindex="1">
                                <div>Только английские буквы, цифры и знак подчеркивания. Длина от 3 до 16 символов.<br> Например, введя название <b>my_company</b>, вы получите адрес <b>my_company.headtask.ru</b></div>
                            </div>
                        </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="email">Email <span error="email" class="reg_erroru"></span></label>
                            <input type="text" name="email" id="email" maxlength="60" class="form-control" tabindex="1" value="{{ email }}" autocomplete="off">
                        </div>
                    </div>
                    {% endif %}
                    <div class="clearfix"></div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="password1">Пароль <span error="password1" class="reg_erroru"></span></label>
                            <input type="password" name="password1" id="password1" maxlength="60" class="form-control" autocomplete="off" tabindex="2">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="first_name">Имя <span error="first_name" class="reg_erroru"></span></label>
                            <input type="text" name="first_name" id="first_name" maxlength="60" class="form-control" tabindex="5">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="password2">Повтор пароля <span error="password2" class="reg_erroru"></span></label>
                            <input type="password" name="password2" id="password2" maxlength="60" class="form-control" tabindex="3">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="last_name">Фамилия <span error="last_name" class="reg_erroru"></span></label>
                            <input type="text" name="last_name" id="last_name" maxlength="60" class="form-control" tabindex="6">
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="birthday">Дата Рождения <span error="birthday" class="reg_erroru"></span></label>
                            <input type="text" name="birthday" id="birthday" maxlength="60" class="form-control" tabindex="4">
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Пол <span error="gender" class="reg_erroru"></span></label>
                            <div class="form-group">
                                <label for="gender_m" style="font-weight: normal;">М</label>
                                <input type="radio" name="gender" id="gender_m" value="m" class="radio" checked>
                                  &nbsp;&nbsp;
                                <label for="gender_w" style="font-weight: normal;">Ж</label>
                                <input type="radio" name="gender" id="gender_w" value="f" class="radio">
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="timezone_region">Регион пояса <span error="timezone_region" class="reg_erroru"></span></label>
                            <select id="timezone_region" name="timezone_region" class="form-control">
                                <option>&nbsp;</option>
                                {% for t in tz %}
                                    <option title="{{ t }}" value="{{ t }}">{{ t }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="timezone">Часовой пояс <span error="timezone" class="reg_erroru"></span></label>
                            <select id="timezone" name="timezone" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12" style="vertical-align: top !important;padding-top:5px;" id="registration_captcha">
                        {{captcha|raw}}
                    </div>
                    <div class="col-xs-12" style="margin-top: 30px;">
                        <a href="#" id="sendReg" class="btn btn-primary"><span>Зарегистрироваться</span></a>
                        <a href="/users/login" class="btn btn-danger">Авторизоваться</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </form>
        <div class="helper"></div>
    </div>
{% endblock %}