{% extends "/source/wrapper_index.html" %}

{% block title %}Подтверждение email{% endblock %}
{% block body %}
<h1 class="h1">Подтверждение email</h1>
    <div class="panel panel-primary">
        <div class="panel-heading">Внимание</div>
        <div class="panel-body">
            Для подтверждения вашего email вам было выслано сообщение со ссылкой, перейдя по которой вы сможете начать работу системой.
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    Узнать подробнее вы можете в разделе справки <a href="/info/first_step/activate_user/">Активация учетной записи</a>.
{% endblock %}