{% extends ajax_data ? "/source/ajax_wrapper.html" : "/source/wrapper_index.html" %}

{% block title %}Пользователи{% endblock %}

{% block body %}
    <div class="jumbotron" style="position: relative;">
        <input type="hidden" name='not_dialog_message' value="1">
        {% include "/source/crumbs.html" %}
        {% if invite %}{% set invite_send_button = true %}{% endif %}
        {% include "/source/search_form.html" %}
        <div id="search_result">
            {% include app.path('users','users_table.html') %}
        </div>
    </div>
{% endblock %}