{% extends ajax_data ? "/source/ajax_index.html" : "/source/index.html" %}
{% block title %}Данные пользователя {{user.fio}}{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{app.path('users','users.css')}}">
{% endblock %}

{% block context %}
    <div class="get_script" style="display: none;" data-path="{{ app.path('users','edit.js')}}"></div>
    {% include "/source/crumbs.html" %}
    <input type="hidden" name='not_dialog_message' value="1">
<table class="table" style="margin-top: -10px;">
    <tr>
        <td style="width: 1px;vertical-align: top !important;border-top:none;padding-left: 0;">
            <img id="avatar" src="{% if user.avatar %}/uploads/users/ava_profile/{{user.avatar|real_path}}{% else %}/source/images/no-ava-profile{% if user.gender == "f" %}_f{% endif %}.jpg{% endif %}"/>
            {% if globals.user and user.id_user == globals.user.id_user %}
                <div style="margin: 5px 0;display: inline-block;"><a href="" change_avatar class="btn btn-primary">Фотография</a></div>
                <div style="margin: 5px 0;display: inline-block;"><a href="/users/edit/" class="btn btn-primary pajax">Профиль</a></div>
            {% else %}
            <div style="margin: 5px 0;display: inline-block;"><a href="" class="btn btn-primary" prepare_message="{{user.id_user}}">Написать сообщение</a></div>
            {% if globals.company_info.owner != user.id_user and globals.role_company == 'admin' %}
                <div style="margin: 5px 0;display: inline-block;">
                    <a href="" class="btn btn-danger delete_user_from_company" data-user="{{ user.id_user }}">Удалить</a>
                </div>
            {% endif %}
            {% endif %}
        </td>
        <td style="border-top:none;vertical-align: top !important;padding-top: 2px;">
            <span style="font-weight: bold;font-size: 20px;">{{user.fio}}</span>
            <span class="get_ms_status user_offline big" data-id="{{user.id_user}}"></span>
            <table class="table table-striped table-border" style="margin-top: 10px;">
                <tr>
                    <td style="width:1px;white-space: nowrap;font-weight: bold;border-top: none;">Общие компании:</td>
                    <td>
                        {% for i in intersect %}
                            <a href='{{ i.name|subdomain }}'>{{ i.name }}</a>{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
                {% for p in user.profile %}
                {% if p.name != 'avatar' and p.value !='' %}
                <tr>
                    <td style="width:1px;white-space: nowrap;font-weight: bold;">{{p.alias}}:</td>
                    <td style="text-align: justify;">
                        {% if p.name == 'skypename' %}
                        <a href="skype:{{p.value}}?chat">{{p.value}}</a>
                        {% else %}
                        {{p.value|nl2br}}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                <tr>
                    <td style="width:1px;white-space: nowrap;font-weight: bold;">Последняя активность:</td>
                    <td style="text-align: justify;">
                        {% if user.last_user_action %}{{ user.last_user_action|date('d.m.Y H:i') }}
                        {% else %}дата неизвестна
                        {% endif %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{ user_tasks|raw }}
{% endblock %}
