<div>{% include '/source/jpaginator_boot.html' %}</div>
    {% for u in users %}
    <div class="users_div">
        <div style="width: 100px;border-right: 1px solid #ccc;" class="users_sub_div">
            <a href="/users/{{u.id_user}}/" class="pajax"><img class="users_avatar" src="{% if u.avatar %}/uploads/users/ava_middle/{{u.avatar|real_path}}{% else %}/source/images/no-ava-small{% if u.gender == "f" %}_f{% endif %}.jpg{% endif %}" title="{{u.fio}}"></a>
        </div>
        <div style="width: 170px;padding-left: 10px;" class="users_sub_div">
            <div style="margin-top: 0;" class="user_name"><a href="/users/{{u.id_user}}/" style="color:{{ u.color }};" class="pajax">{{u.last_name}} {{u.first_name}}</a></div>
            <small>
                {% if u.invite %}
                    <b>Приглашен</b>
                {% else %}
                    {{ ("role_"~u.role)|lang|capitalize }}
                {% endif %}
                <div style="margin-top: 15px;">
                    {% if u.skypename %}<span style="font-weight: bold;">Skype: </span><a href="skype:{{u.skypename}}?chat">{{ u.skypename }}</a>
                    {% endif %}
                </div>
                <div>
                    {% if u.mphone %}<span style="font-weight: bold;">М. тел:</span> {{ u.mphone }}{% endif %}
                </div>
            </small>
        </div>
        <div style="width: 160px;padding-left: 10px;" class="users_sub_div">
            <div style="float: right;margin-right: 5px;margin-bottom: 10px;">
                <small style="margin-right: 5px;">
                    {% if u.last_user_action %}
                        {% if ''|date('d.m.Y') == u.last_user_action|date('d.m.Y') %}<span style="color:red">сегодня</span> в {{ u.last_user_action|date('H:i') }}
                        {% else %}
                            {{ u.last_user_action|date('d.m.Y H:i') }}
                        {% endif %}
                    {% endif %}
                </small>
                <div class="get_ms_status user_offline" data-id="{{u.id_user}}"></div>
            </div>
            <div style="font-size: 12px;clear: both;">
                {% if globals.user.id_user != u.id_user %}
                <div style="text-align: right;margin-right: 5px;">
                    <a href="" prepare_message="{{u.id_user}}">Написать сообщение</a>
                </div>
                <!--
                <div>
                    <a>Видеозвонок</a>
                </div>
                -->
                <div style="margin-bottom: 10px;text-align: right;margin-right: 5px;">
                    <a href="mailto:{{ u.email }}">Отправить письмо</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
<div style="margin-right: 15px;">{% include '/source/jpaginator_boot_if.html' %}</div>