<tr data-id="{{d.id}}">
    <td>{{ d.name }}</td>
    <td>{{ d.name_category_students }}</td>
    <td>{{ d.position }}</td>
    <td class="td-align-middle" style="width: 1px;"><a title="Изменить" class="fa fa-15x fa-edit edit-btn" data-id="{{d.id}}"></a></td>
    <td class="td-align-middle" style="width: 1px;"><a title="Удалить" class="fa fa-15x fa-trash-o del-btn" data-id="{{d.id}}"></a></td>
</tr>
