<div class="add_html">
<form id="edit_form">
    <input type="hidden" name="id" value="{{element.id}}">
    <input type="hidden" name="act" value="save">
    <input type="hidden" name="mode" value="{{mode|default('new')}}">
    <div class="body"><span class="title">Минимум:</span>
        <div><input type="text" name="min_value" class="input" style="width:350px;" value="{{element.min_value}}"></div></div>
    <div class="body"><span class="title">Максимум:</span>
        <div><input type="text" name="max_value" class="input" style="width:350px;" value="{{element.max_value}}"></div></div>
</form>
</div>
