{% include "/source/admin/jpaginator_boot.html" %}
<table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th>Название</th>
        <th>Короткое название</th>
        <th>Минимум</th>
        <th>Максимум</th>
        <th>Управление</th>
    </tr>
    </thead>
    <tbody>
    {% for d in data %}
    {% include app.path('levels','admin/elements/row.html') %}
    {% endfor %}
    </tbody>
</table>
