{% extends "/source/admin/index.html" %}

{% block body %}
<table class='table table-bordered table-striped table-condensed'>
    {% for d in data %}
        <tr>
            <td>{{ d.KPI_NAME }}</td>
            <td>
                <span {% if d.IS_OK is defined and d.IS_OK == false %}<span style="color:red;"{% endif %}>{{ d.KPI_VALUE }}</span>
            </td>
            <td>{{ d.KPI_RECOMMENDATION|raw }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}


