{% extends "/source/mail.html" %}

{% block title %}
    Что нового?
{% endblock %}

{% block body %}
    {% import "/source/link_mail_macro.html" as link_mail %}

    {% if data.comments %}
    <div><b>Комментарии</b></div>
    <ul style="padding-left: 0;">
    {% for d in data.comments %}
        {% set domain = d.name|subdomain %}
        <li>Компания  {{ link_mail.format(domain,'',d.name,true) }}
        <ul>
        {% for item in d.items %}
            {% set s = "" %}
            <li>
            Проект: {{ link_mail.format(domain,'projects/tasks/'~item.project_id,item.project_name) }}.

            {% if item.type_entity == "task" %}{% set s = "s" %}{% endif %}
            {{ ('type_'~item.type_entity)|lang(1) }} {{ link_mail.format(domain,'projects/'~item.type_entity~s~'/show/'~item.project_id~'/'~item.id_entity,item.name) }} - новых комментариев {{ item.count }}
            </li>
        {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if data.messages %}
        <div style="margin-top: 20px;"><b>Сообщения</b></div>
        <div>У Вас {{ link_mail.format(data.domain,'users/messages',data.messages~" "~'new_message'|lang(data.messages)) }} </div>
    {% endif %}

    {% if data.other %}
        <div style="margin-top: 20px;"><b>Другое</b></div>
        <ul style="padding-left: 0;">
            {% for d in data.other %}
                {% set domain = d.name|subdomain %}
                <li>Компания {{ link_mail.format(domain,'',d.name,true) }}
                    <ul>
                        {% for item in d.items %}
                            <li>
                                Проект: {{ link_mail.format(domain,'projects/tasks/'~item.project_id,item.project_name) }}.
                                {{ ('type_'~item.type_entity)|lang(1) }} {{ link_mail.format(domain,'projects/'~item.type_entity~'/show/'~item.project_id~'/'~item.id,item.name) }}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}