{% extends ajax_data ? "/source/ajax_index.html" : "/source/index.html" %}
{% block crumbs %}

{% endblock %}
{% block body %}
<div style="text-align: center;">
    <div style="font-size: 160px;color: #444;margin-top: 100px;">
        :)
    </div>
    <div style="font-size: 30px;color: #ff4600;">
        Вам необходимо подтвердить приглашение
    </div>
    <div style="font-size: 30px;">
        <a href="/users/registration/{{ invite.hash }}" class="btn btn-primary">Принять</a>
        <a href="/users/registration/refuse/{{ globals.current_company}}" class="btn btn-danger">Отказаться</a>
    </div>
    <div style="margin-top: 30px;">
    {% if referer %}<a href="{{referer}}" class="pajax">вернуться на предыдущую страницу</a>
    {% else %} <a href="/" class="pajax">вернуться на главную страницу</a>
    {% endif %}
    </div>
</div>
{% endblock %}