{% extends "/source/wrapper_index.html" %}

{% block title %}
    Подтверждение email
{% endblock %}

{% block body %}
{% if error %}
    <h1 class="h1">Подтверждение email</h1>
    <div class="panel panel-danger">
        <div class="panel-heading">Сообщение</div>
        <div class="panel-body">
            Ваш адрес скорее всего уже подтвержден, или у нас нет информации об этом коде
        </div>
    </div>
{% endif %}
{% endblock %}