{% extends "/source/mail.html" %}

{% block title %}
    Смена пароля
{% endblock %}

{% block body %}
    {% import "/source/link_mail_macro.html" as link_mail %}

    <p>Здравствуйте! Кто-то (возможно, не Вы) запросил смену пароля Вашей учетной записи на сайте {{ site_name }}.</p>
    <p>Чтобы изменить пароль, перейдите по {{ link_mail.format(domain,'users/recovery/'~hash,'ссылке') }}.</p>
    
	<p style="margin-top:20px;">Если Вы не запрашивали восстановление пароля, проигнорируйте данное письмо.</p>
{% endblock %}