{% extends "/source/mail.html" %}

{% block title %}
  {{ title }}
{% endblock %}

{% block body %}
	<p>Пароль был успешно изменен.</p>
	<p>Ваш новый пароль: <span>{{ message }}</span></p>
	<p>Ссылка для входа на сайт: <a href='http://monitor.idfedorov.ru'>http://monitor.idfedorov.ru</a></p>
{% endblock %}