{% extends ajax_data ? "/source/ajax_index.html" : "/source/wrapper_index.html" %}

{% block title %}
    {% if ug.id %}
        Редактирование учебной группы
    {% else %}
        Новая учебная группа
    {% endif %}
{% endblock %}

{% block css %}
    <link href="{{ app.path('/source/js/datepicker/css/','bootstrap-datepicker3.min.css',true) }}" rel="stylesheet">
{% endblock %}

{% block js %}
    <script src="{{ app.path('/source/js/datepicker/js/','bootstrap-datepicker.min.js',true) }}"></script>
    <script src="{{ app.path('/source/js/datepicker/locales/','bootstrap-datepicker.ru.min.js',true) }}"></script>
    <script src="{{ app.path('ug','user.js') }}"></script>
{% endblock %}

{% block body %}
<h2>
    {% if type == 'start' or type == '1' %}
        {% if ug.id %}
            Редактирование учебной группы
        {% else %}
            Новая учебная группа
        {% endif %}
    {% else %}
        {% if ug.id %}
            Редактирование класса
        {% else %}
            Новый класс
        {% endif %}
    {% endif %}
</h2>

<form id="edit_form">
    <input type="hidden" id="add_type" value="{{ type }}">
    <input type="hidden" name="act" value="save">
    <input type="hidden" name="id" value="{{ ug.id }}">
    <div class="form-group">
        <label class="control-label" for="name">{% if type == 'start' %}Название группы{% else %}Обозначение группы мониторинга (обязательно){% endif %}</label>
        <input type="text" class="form-control" id="name" name="name" value="{{ ug.name }}" />
        {% if type == 'uud' %}
        <p class="help-block">
            Придумайте условное обозначение группы мониторинга (класса). Если у класса есть буквенное обозначение, удобно написать его: А, Б, 2017В и т.д. В этой группе будут доступны отчеты по каждому из пяти классов.
        </p>
        {% endif %}
    </div>
    {% if globals.type == 1 %}
        <div class="form-group">
            <label class="control-label" for="date">Дата окончания проведения диагностики</label>
            <input type="text" class="form-control" id="date" name="date" value="{{ ug.date|date('d.m.Y') }}">
        </div>
    {% endif %}
    {% if kug %}
    <div class="form-group">
        <label class="control-label" for="category">Категория группы</label>
        <div>
            {% for k in kug %}
            <label style="margin-right: 10px;font-weight: normal;">
                <input name="kug" value="{{ k.id }}" type="radio" {% if loop.first %}checked{% endif %}> {{ k.name_category_students }}
            </label>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if umk %}
    <div class="form-group">
        <label class="control-label" for="umk">Учебно‐методические комплекты</label>
        {% for k,u in umk %}
        <ul class="no_style_list umk_ul" data-id="{{ k }}" style="padding-left: 0; height: 110px;overflow-y: auto;{% if not loop.first %}display:none;{% endif %}">
            {% for uu in u %}
            <li>
                <label style="margin-bottom: 0;font-weight: normal;">
                    <input type="checkbox" value="{{ uu.id }}" name="umk[]" {% if uu.id in ug.umk %}checked{% endif %}> {{ uu.name }}
                </label>
            </li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
    {% endif %}
    <div class="form-group">
        <label class="control-label" for="name_education">Название образовательной организации (обязательно)</label>
        <input type="text" class="form-control" id="name_education" name="name_education" value="{{ ug.name_education }}" />
        <p class="help-block">
            Например, МОУ СОШ No132
        </p>
    </div>
    {% if not ug.id %}
    <div class="form-group">
        <a class="btn btn-primary" href="" id="save">Создать</a>
    </div>
    {% endif %}
</form>
{% endblock %}

{% block sidebar %}
<ol>
	<li>Заполните обозначение группы мониторинга и название образовательной организации.</li>
	<li>Нажмите кнопку "Создать".</li>
</ol>
<p>После создания учебной группы вы сможете добавить в нее данные учащихся.</p>
{% endblock %}
