{% extends "/source/wrapper_index.html" %}

{% block title %}Выбор диагностического комплекта{% endblock %}
{% set hide_sidebar = true %}
{% set hide_crumbs = true %}
{% block body %}
<div class="jumbotron">
	<div class="row">
		<div class="col-md-6">
			<h2>Школьный старт</h2>
			<p>Педагогическая диагностика по УМК «Школьный старт» позволяет проверить готовность дошкольников и первоклассников к обучению в школе, определить, насколько сформированы базовые умения, необходимые ребенку для того, чтобы понимать материал учебника и выполнять инструкции.</p>
			<a class="btn btn-lg btn-primary" href="/ug/start/" role="button">Перейти к диагностике</a>
			<a class="btn btn-lg btn-link" href="/uploads/Met_Start_2016.pdf" target="_blank">Методические рекомендации</a>
		</div>
		<div class="col-md-6">
			<h2>Учимся Учиться и Действовать</h2>
			<p>С помощью УМК «Учимся учиться и действовать» педагог может отслеживать формирование метапредметных универсальных учебных действий у учащихся с 1 по 5 класс (у каждого ребенка в отдельности и по классу в целом), а также ставить педагогические и психологические задачи.</p>
			<a class="btn btn-lg btn-primary" href="/ug/uud/" role="button">Перейти к диагностике</a>
			<a class="btn btn-lg btn-link" href="//idfedorov.ru/diagnosticsandmonitoring/monitoringofuud" target="_blank">Методические рекомендации</a>
		</div>
	</div>
</div>
{% endblock %}

