{% extends get_data.mode ? "/source/print.html" : "/source/wrapper_index.html" %}

{% block title %}{{ ug.name }}{% endblock %}
{% block js %}
    <script src="{{ app.path('ug','user.js') }}"></script>
    {% if get_data.mode == 'print' %}
        <script>
            $(document).ready(function(){
                setTimeout(window.print, 100);
            });
        </script>
    {% endif %}
{% endblock %}

{% set hide_sidebar = true %}

{% block body %}
    
    <input type="hidden" name="id_study_group" value="{{ ug.id }}">

		{% if not students %}
			<div class="jumbotron">
				<h1>{{ ug.name }} <small>Внесение результатов</small></h1>
				<p>Вы можете внести результаты двумя способами.</p>
				<div class="row">
					<div class="col-md-6">
						<h2>По одному</h2>
						<p>Нажмите кнопку "Добавить данные о ребенке", в&nbsp;появившемся окне заполните ячейки данными о&nbsp;ребенке.</p>
						<p><a href="" class="btn btn-primary btn-lg edit_student"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить данные о ребенке</a></p>
						<p><small>Подробнее о внесении результатов по одному сказано в разделе справки <a href="/info/diagnostic_results/add/byone/">Ввод данных по одному</a></small></p>
					</div>
					<div class="col-md-6">
						<h2>По группе</h2>
						<p>1. Сохраните <a href="/results/report/general/{{ ug.id }}?mode=excel&summary=hide">шаблон</a><br>
						2. Внесите в него данные о всей группе<br>
						3. <a href="" class="get_upload_form" data-id="{{ ug.id }}">Загрузите</a> полученный файл</p>
						<p><small>Важно! В ячейки результатов диагностики следует вводить только числа 0, 1 или 2.<br>Подробное описание процесса ввода результатов по группе представлено в разделе инструкции <a href="/info/adding_results/add/bygroup/">Ввод данных по группе</a></small></p>
					</div>
				</div>
			</div>
		{% else %}
			<h1>{{ ug.name }} <small>Результаты диагностики</small></h1>
		{% endif %}
		
		
			{% if not get_data.mode %}
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#about" aria-controls="about" role="tab" data-toggle="tab">О группе и отчёты</a></li>
				<li role="presentation"><a href="#reports" aria-controls="reports" role="tab" data-toggle="tab">Внесение результатов</a></li>
			</ul>
			{% endif %}

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="about">
					<div class="row">
						<div class="col-md-4">
							{% if not get_data.mode %}<h4>Информация</h4>{% endif %}
							<ul class="list-unstyled">
								<li><b>Дата проведения диагностики:</b> {{ ug.date|date('d.m.Y') }}</li>
								<li><b>Педагог:</b> {{ ug.owner_fio }}</li>
								<li><b>Количество учащихся в группе:</b> {{ students|length }}</li>
								<li><b>Образовательная организация:</b> {{ ug.name_education }}</li>
								<li><b>Учебно‐методический комплект:</b>
										{% for u in ug.umk_name %}
											{{ u }}{% if not loop.last %}, {% endif %}
										{% endfor %}
								</li>
							</ul>
							{% if not get_data.mode %}<p><a href="" class="edit_ug" data-id="{{ ug.id }}"><span class="glyphicon glyphicon-edit"></span> Изменить данные группы</a></p>{% endif %}
						</div>
						{% if not get_data.mode %}
						<div class="col-md-4">
							<h4>Отчеты группы</h4>
							<ul class="no_style_list" style="padding-left: 0;">
								<li><a href="/results/report/general/{{ ug.id }}">Общие результаты</a></li>
								<li><a href="/results/report/levels/{{ ug.id }}">Уровни инструмент. и личн. готовности</a></li>
								<li><a href="/results/report/groups/{{ ug.id }}">Группы стартовой готовности</a></li>
							</ul>
							<h4>Индивидуальные отчеты</h4>
							<form>
								<div class="form-inline">
									<div class="form-group">
										<select style="max-width: 260px;" class="form-control students">
											<option disabled selected>Выберите учащегося</option>
											{% for s in students %}
												<option value="/results/report/individual/{{ ug.id }}/{{ s.id }}">{{ s.fio }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="form-group">
										<input type="submit" value="Перейти" class="btn btn-primary individual_report">
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-4">
							<div class="panel panel-info">
							<div class="panel-heading"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Подсказка</div>
								<div class="panel-body">
									<ul class="list-unstyled">
										<li><a href="/info/diagnostic_results/add/" target="_blank">Как внести результаты диагностики?</a></li>
										<li><a href="/info/reports/" target="_blank">Как работать с&nbsp;отчетами?</a></li>
										<li><a href="/info/manage_groups/edit/" target="_blank">Как изменить данные группы?</a></li>
									</ul>
								</div>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="reports">
					<div class="row">
						<div class="col-md-4">
							<h4>По одному</h4>
							<p>Нажмите кнопку "Добавить данные о ребенке", в&nbsp;появившемся окне заполните ячейки данными о&nbsp;ребенке.</p>
							<p><a href="" class="btn btn-primary edit_student"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить данные о ребенке</a></p>
						</div>
						<div class="col-md-4">
							<h4>По группе</h4>
							<p><a href="/results/report/general/{{ ug.id }}?mode=excel&summary=hide" class="btn btn-default btn-block"><span class="glyphicon glyphicon-cloud-download"></span> Сохранить шаблон</a></p>
							<p><a href="" class="btn btn-default get_upload_form btn-block" data-id="{{ ug.id }}"><span class="glyphicon glyphicon-cloud-upload"></span> Загрузить результаты диагностики<br>из шаблона</a></p>
							<p style="padding:5px;border-radius: 4px;" class="bg-danger"><small>Важно! В ячейки результатов диагностики следует вводить только числа 0, 1 или 2.</small></p>
						</div>
						<div class="col-md-4">
							<div class="panel panel-info">
								<div class="panel-heading"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Подсказка</div>
								<div class="panel-body">
									<p><b>Важно!</b> Для получения корректного отчета введите результаты всех детей по всем показателям.</p>
									<ul class="list-unstyled">
										<li><a href="/info/diagnostic_results/add/byone/" target="_blank">Как внести результаты по одному ребенку?</a></li>
										<li><a href="/info/diagnostic_results/add/bygroup/" target="_blank">Как внести результаты по группе?</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
    <div class="clearfix"></div>

    {% if students %}
        {% if not get_data.mode %}
		<div class="btn-toolbar">
			<div class="btn-group" role="group" style="margin-bottom: 20px;">
				<a href="" class="btn btn-primary edit_student"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить данные о ребенке</a>
				<a href="?mode=print" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Распечатать</a>
				<a href="/results/report/general/{{ ug.id }}?mode=excel&summary=hide" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить как таблицу Excel</a>
			</div>
			<div class="btn-group pull-right" role="group" style="margin-bottom: 20px;">
				<a href="/methods/answers" class="btn btn-info" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Таблица правильных ответов</a>
			</div>
		</div>
        {% endif %}
        {% include app.path('results','start/report1.html') %}
		{% if not get_data.mode %}
		<div class="btn-toolbar">
			<div class="btn-group" role="group" style="margin-bottom: 20px;">
				<a href="" class="btn btn-primary edit_student"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить данные о ребенке</a>
				<a href="?mode=print" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Распечатать</a>
				<a href="/results/report/general/{{ ug.id }}?mode=excel&summary=hide" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить как таблицу Excel</a>
			</div>
			<div class="btn-group pull-right" role="group" style="margin-bottom: 20px;">
				<a href="/methods/answers" class="btn btn-info" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Таблица правильных ответов</a>
			</div>
		</div>
		{% endif %}
    {% endif %}
{% endblock %}

