{% extends "/source/wrapper_index.html" %}

{% block title %}Мои группы{% endblock %}
{% block js %}
    <script src="{{ app.path('ug','user.js') }}"></script>
{% endblock %}
{% block css %}
	<link href="{{ app.path('/applications/ug/source/css/','style.css',true) }}" rel="stylesheet">
{% endblock %}
{% block body %}
<h1 class="h1">Мои группы <small>Школьный старт</small></h1>
<p><a href="/ug/add/start" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить группу</a></p>
{% if not groups %}
    <div class="panel panel-primary">
        <div class="panel-heading"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Подсказка</div>
        <div class="panel-body">
            Вы еще не добавили ни одной группы. Нажмите кнопку "Добавить группу", чтобы перейти к созданию. Подробнее о том, как добавить группу, описано в разделе справки <a href="/info/adding_results/add_group/">Добавление группы</a>.
        </div>
    </div>
{% else %}
	<div class="list-group">
	{% for g in groups %}

			<div class="list-group-item">
				<h3 class="list-group-item-heading">{{ g.name }}</h3>
				<div class="list-group-item-text">
					<p>Дата проведения диагностики: {{ g.date|date('d.m.Y') }}</p>
					<p>Название образовательной организации: {{g.name_education}} </p>
					{% if g.owner_name %}
						<p>Автор: {{g.owner_name}}</p>
					{% endif %}
					<p>
						<a class="btn btn-default" href="/ug/start_show/{{ g.id }}"><span class="glyphicon glyphicon-open-file"></span> Внесение и просмотр результатов диагностики</a>
						<a data-id="{{ g.id }}" class="btn btn-link edit_ug"><span class="glyphicon glyphicon-edit"></span> Изменить данные группы</a>
					</p>
				</div>
			</div>

	{% endfor %}
    </div>
{% endif %}

<p><a href="/ug/add/start" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить группу</a></p>
{% endblock %}

{% block sidebar %}
    <p>Здесь вы можете управлять своими учебными группами.</p>
	<p>Узнайте подробнее о работе с группами из справки:
		<ul>
			<li><a href="/info/manage_groups/show_groups/">Просмотр списка учебных групп</a></li>
			<li><a href="/info/manage_groups/add_group/">Создание/добавление группы</a></li>
			<li><a href="/info/manage_groups/edit/">Изменение данных группы</a></li>
		</ul>
	</p>
{% endblock %}

