<p>Выберите файл с результатами диагностики, затем нажмите &laquo;Загрузить&raquo;.</p>

<form id="upload_excel">
    <input type="hidden" name="act" value="import">
    <input type="hidden" name="id" value="{{ id }}">
    <div class="form-group">
        <label class="btn btn-primary btn-lg" for="file">
            <input id="file" type="file" style="display:none;">
            Выбрать файл
        </label>
        <span id="upload-file-info"></span>
    </div>
</form>
<div class="alert alert-danger" role="alert">Данная операция заменит все данные в группе!</div>