{% extends "/source/wrapper_index.html" %}

{% block title %}Мои классы. Учимся Учиться и Действовать{% endblock %}
{% block js %}
<script src="{{ app.path('ug','user.js') }}"></script>
{% endblock %}
{% block css %}
<link href="{{ app.path('/applications/ug/source/css/','style.css',true) }}" rel="stylesheet">
{% endblock %}
{% block body %}
<h2 class="h1">Мои классы <small>Учимся Учиться и Действовать</small></h2>
<p><a href="/ug/add/uud" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить класс</a></p>
{% if not groups %}
<div class="panel panel-primary">
	<div class="panel-heading"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Подсказка</div>
	<div class="panel-body">
		<p>Вы еще не добавили ни одного класса.</p>
	</div>
</div>
{% else %}
<div class="list-group">
	{% for g in groups %}

	<div class="list-group-item">
		<a data-id="{{ g.id }}" class="btn btn-link edit_ug pull-right"><span class="glyphicon glyphicon-edit"></span> Изменить информацию о классе</a>
		<h3 class="list-group-item-heading">{{ g.name }}</h3>
		<div class="list-group-item-text">
			<p>Название образовательной организации: {{g.name_education}} </p>
			{% if g.owner_name %}
			<p>Автор: {{g.owner_name}}</p>
			{% endif %}

			<p><span class="glyphicon glyphicon-open-file"></span> Результаты диагностики по классам:</p>

			<div class="btn-group" role="group">
				{% for i in 1..5 %}
				<a class="btn btn-default" href="/ug/uud_show/{{ g.id }}?begin={{i}}">{{i}} класс</a>
				{%endfor%}
			</div>

		</div>
	</div>

	{% endfor %}
</div>
{% endif %}

<p><a href="/ug/add/uud" class="btn btn-primary"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить класс</a></p>
{% endblock %}

{% block sidebar %}
<p>Чтобы получить отчеты, необходимо выполнить несколько действий.
<ol>
	<li>Добавить класс, нажав кнопку <a href="/ug/add/uud"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить класс</a></li>
	<li>Заполнить обозначение группы мониторинга и название образовательной организации в появившейся форме. После этого будет доступен выбор класса для проведения мониторинга: 1, 2, 3, 4 и 5.</li>
	<li>Ввести результаты мониторинга по каждому ученику. Для этого следует перейти на страницу ввода данных, нажав кнопку с номером класса в блоке созданной группы.</li>
</ol>
</p>
{% endblock %}

