
    <input type="hidden" name="id_study_group" value="{{ ug.id }}">
	<input type="hidden" name="begin" value="{{ begin }}">

{% if students %}

    {% set show_stats = true %}
    {% include app.path('results','uud/report_uud1.html') %}
{% else %}
    <div class="jumbotron">

        <p>Вы можете внести результаты двумя способами.</p>
        <div class="row">
            <div class="col-md-6">
                <h2>По одному</h2>
                <p>Нажмите кнопку "Добавить данные о ребенке", в&nbsp;появившемся окне заполните ячейки данными о&nbsp;ребенке.</p>
                <p><a href="" class="btn btn-primary btn-lg edit_student" data-begin="{{ begin }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить данные о ребенке</a></p>
                <p><small>Подробнее о внесении результатов по одному сказано в разделе справки <a href="/info/diagnostic_results/add/byone/">Ввод данных по одному</a></small></p>
            </div>
            <div class="col-md-6">
                <h2>По классу</h2>
                <p>Внесение результатов по классу происходит в три шага:</p>
                <ul>
                    <li><a href="/results/report/import_download/{{ ug.id }}">Сохранить шаблон</a> (файл в формате MS Excel)</li>
                    <li>Внести в файл результаты всего класса</li>
                    <li><a href="" class="get_upload_form" data-id="{{ ug.id }}" data-begin="{{ begin }}">Загрузить</a> результаты из шаблона</li>
                </ul>
                <p><small>Подробное описание процесса ввода результатов по классу представлено в разделе инструкции <a href="/info/uud_diagnostic_results/add/bygroup/">Ввод данных по группе</a></small></p>
                <!--<p>1. Сохраните <a href="/results/report/general/{{ ug.id }}?mode=excel&summary=hide&begin={{ begin }}">шаблон</a><br>
                    2. Внесите в него данные всего класса<br>
                    3. <a href="" class="get_upload_form" data-id="{{ ug.id }}" data-begin="{{ begin }}">Загрузите</a> полученный файл</p>
                <p><small>Важно! В ячейки результатов диагностики следует вводить только числа 0, 1 или 2.<br>Подробное описание процесса ввода результатов по классу представлено в разделе инструкции <a href="/info/adding_results/add/bygroup/">Ввод данных по классу</a></small></p>-->
            </div>
        </div>
    </div>
{% endif %}
