{% extends get_data.mode ? "/source/print.html" : "/source/wrapper_index.html" %}

{% block title %}{{ ug.name }}{% endblock %}

{% block css %}
    <link href="{{ app.path('/source/js/datepicker/css/','bootstrap-datepicker3.min.css',true) }}" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="{{ app.path('/source/js/datepicker/js/','bootstrap-datepicker.min.js',true) }}"></script>
<script src="{{ app.path('/source/js/datepicker/locales/','bootstrap-datepicker.ru.min.js',true) }}"></script>
<script src="{{ app.path('ug','user.js') }}"></script>
    {% if get_data.mode == 'print' %}
        <script>
            $(document).ready(function(){
                setTimeout(window.print, 100);
            });
        </script>
    {% endif %}
{% endblock %}

{% set hide_sidebar = true %}

{% block body %}
    
    <input type="hidden" name="id_study_group" value="{{ ug.id }}">

<div class="row">
    <div class="{% if not get_data.mode %}col-xs-8{%else%}col-xs-12{%endif%}">
        <h1>{{ ug.name }}. {{begin}} класс <small>Результаты диагностики класса</small></h1>

        <ul class="list-unstyled">
            <li><b>Педагог:</b> {{ ug.owner_fio }}</li>
            <li><b>Количество учащихся в классе:</b> {{ students|length }}</li>
            <li><b>Образовательная организация:</b> {{ ug.name_education }}</li>
            <li><b>Учебно‐методический комплект:</b>
                {% for u in ug.umk_name %}
                {{ u }}{% if not loop.last %}, {% endif %}
                {% else %}
                не указан
                {% endfor %}
            </li>
        </ul>
        {% if not get_data.mode %}
            <p><a href="" class="edit_ug" data-id="{{ ug.id }}"><span class="glyphicon glyphicon-edit"></span> Изменить информацию о классе</a></p>

            {% if get_data.begin < 1 %}
            {% set check_begin = 1 %}
            {% else %}
            {% set check_begin = get_data.begin %}
            {% endif %}

            <h2>Мониторинг по классам</h2>
            <ul class="nav nav-pills">
                {% for i in 1..5 %}
                <li role="presentation" {% if check_begin == i %}class="active"{% endif %}><a href="/ug/uud_show/{{ug.id}}?begin={{ i }}" aria-controls="about">{{ i }} класс</a></li>
                {% endfor %}
            </ul>

            <form id="edit_form-date" class="form-inline" style="margin-top: 10px;">
                <div class="form-group">
                    <label class="control-label" for="date-result">Дата окончания проведения диагностики: </label>
                    <input type="text" class="form-control" id="date-result" name="date-result" value="{{ ug.dates[begin] }}">
                </div>
                <div class="form-group">
                    <button class="btn btn-default" id="date-result-save">Сохранить дату</button>
                </div>
            </form>

            <div class="row">
                <div class="col-md-6">
                    <h3>Сводные отчеты</h3>
                    <ul class="list-unstyled">
                        {% if begin == 1 %}
                        <li><a href="/results/report/general/{{ ug.id }}/all?begin={{ begin }}">Общие результаты</a></li>
                        <li><a href="/results/report/groups/{{ ug.id }}?begin={{ begin }}">Распределение по группам</a></li>
                        {% endif %}
                        {% if begin == 2 %}
                        <li><a href="/results/report/general/{{ ug.id }}/all?begin={{ begin }}">Общие результаты</a></li>
                        <li><a href="/results/report/progress/{{ ug.id }}?begin={{ begin }}">Прогресс</a></li>
                        {% endif %}
                        {% if begin == 3 %}
                        <li><a href="/results/report/general/{{ ug.id }}/all?begin={{ begin }}">Общие результаты</a></li>
                        <li><a href="/results/report/progress/{{ ug.id }}?begin={{ begin }}">Прогресс</a></li>
                        {% endif %}
                        {% if begin == 4 %}
                        <li><a href="/results/report/general/{{ ug.id }}/all?begin={{ begin }}">Общие результаты</a></li>
                        <li><a href="/results/report/progress/{{ ug.id }}?begin={{ begin }}">Прогресс</a></li>
                        {% endif %}
                        {% if begin == 5 %}
                        <li><a href="/results/report/general/{{ ug.id }}/all?begin={{ begin }}">Общие результаты</a></li>
                        <li><a href="/results/report/progress/{{ ug.id }}?begin={{ begin }}">Прогресс</a></li>
                        <li><a href="/results/report/reflex/{{ ug.id }}?begin={{ begin }}">Индекс рефлексивности</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>Индивидуальные отчеты</h3>
                    <form class="form-inline">
                        <div class="form-group">
                            <select style="max-width: 260px;" class="form-control students{{ begin }}">
                                <option disabled selected>Пофамильные карты...</option>
                                {% for s in students %}
                                <option value="/results/report/individual/{{ ug.id }}/{{ s.id }}?begin={{ begin }}">{{ s.fio }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Перейти" class="btn btn-primary individual_report" data-begin="{{ begin }}">
                        </div>
                    </form>
                </div>

            </div>

        {% endif %}
    </div>
    {% if not get_data.mode %}
    <div class="col-xs-4">
        <div class="panel panel-info">
            <div class="panel-heading"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Подсказка</div>
            <div class="panel-body">
                <p>Чтобы получить отчеты, необходимо внести результаты диагностики по всем ученикам и всем показателям. Это можно сделать двумя способами:</p>
                <h5>1. По каждому ученику отдельно <!--<small><a href="/info/diagnostic_results/add/byone/"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp;Подробнее</a></small>--></h5>
                <ul>
                    <li>Нажать кнопку <a href="" data-begin="{{ begin }}" class="edit_student"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить данные о новом ребенке</a></li>
                    <li>В появившемся окне ввести реузльтаты диагностики</li>
                    <li>В появившемся окне нажать кнопку "Сохранить"</li>
                </ul>
                <h5>2. По всему классу<!--<small><a href="/info/diagnostic_results/add/bygroup/"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp;Подробнее</a></small>--></h5>
                <ul>
                    <li><a href="/results/report/import_download/{{ ug.id }}">Сохранить шаблон</a> (файл в формате MS Excel)</li>
                    <li>Внести в файл результаты всего класса</li>
                    <li><a href="" class="get_upload_form" data-id="{{ ug.id }}" data-begin="{{ begin }}">Загрузить</a> результаты из шаблона</li>
                </ul>
                    <a class="btn btn-default" target="_blank" href="/uploads/methods/{{begin}}grade_answers.pdf" role="button"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Таблица правильных ответов {{begin}} класс</a>

            </div>
        </div>
    </div>

    {%endif%}
</div>

{% if not get_data.mode %}
<hr>

    <div class="btn-toolbar">
        <div class="btn-group" role="group" style="margin-bottom: 20px;">

            <a href="" class="btn btn-primary edit_student" data-begin="{{ begin }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить данные о новом ребенке</a>

            <div class="btn-group" role="group">
                <a href="" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Внесение результатов по классу <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/results/report/import_download/{{ ug.id }}"><span class="glyphicon glyphicon-cloud-download"></span> Сохранить шаблон</a></li>
                    <li><a href="" class="get_upload_form" data-id="{{ ug.id }}" data-begin="{{ begin }}"><span class="glyphicon glyphicon-cloud-upload"></span> Загрузить результаты из шаблона</a></li>
                    <li><a href=""><span class="glyphicon glyphicon-question-sign text-info" aria-hidden="true"></span> Справка</a></li>
                </ul>

            </div>

            <a href="?mode=print&begin={{ begin }}" class="btn btn-default" target="_blank"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Распечатать</a>
            <a href="/results/report/general/{{ ug.id }}?mode=excel&summary=hide&begin={{ begin }}" class="btn btn-default"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить как таблицу Excel</a>
        </div>
    </div>

{%endif%}

{% include app.path('ug', 'uud_show.html') %}

{% endblock %}

