<title>
{% block title %}
{% endblock %}
</title>

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block menu_active %}
    <input type="hidden" name="menu_li" value="{{ globals.menu_li }}">
    <input type="hidden" name="menu_sub_li" value="{{ globals.menu_sub_li or globals.id_project }}">
{% endblock %}

<input type="hidden" id="source_version_current" value="{{ settings.source_version.value }}">
<input type="hidden" id="count_new_comments_pjax" value="{{ globals.comments_not_read_count }}">
<input type="hidden" id="count_new_messages_pjax" value="{{ globals.messages_not_read_count }}">
{% block body %}
    <div class="jumbotron" style="position: relative;">
        {% block context %}{% endblock %}
    </div>
{% endblock %}