<ol class="breadcrumb">
    {% if globals.crumbs.name %}
        <li>{{globals.crumbs.name}}</li>
    {% else %}
    {% for k,cr in globals.crumbs %}
        <li {% if loop.last %}class="active" {% endif %}>
        {% if not loop.last and cr.url %}
            <a href="{{cr.url}}">{{cr.name}}</a>
        {% else %}{{cr.name}}
        {% endif %}
        </li>
    {% endfor %}
    {% endif %}
</ol>