<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body bgcolor="#FFFFFF" style="margin: 0;padding: 0;font-family: &quot;Helvetica Neue&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: none;height: 100%;width: 100%!important;">

<!-- HEADER -->
<table style="margin: 0;padding: 0;width: 100%;">
    <tr style="margin: 0;padding: 0;">
        <td style="margin: 0;padding: 0;"></td>
        <td style="margin: 0 auto!important;padding: 0;display: block!important;max-width: 600px!important;clear: both!important;">

            <div style="margin: 0 auto;padding: 15px;max-width: 600px;display: block;">
                <table style="margin: 0;padding: 0;width: 100%;">
                    <tr style="margin: 0;padding: 0;">
                        <td style="margin: 0;padding: 0;"><img src="//idfedorov.ru/images/page/cat_logo.png" width="300" height="65" style="margin: 0;padding: 0;"></td>
                        <td align="right" style="margin: 0;padding: 0;"><h6 style="margin: 0!important;padding: 0;font-family: &quot;HelveticaNeue-Light&quot;, &quot;Helvetica Neue Light&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;line-height: 1.1;margin-bottom: 15px;color: #444;font-weight: 900;font-size: 14px;text-transform: uppercase;"><a href="//idfedorov.ru">idfedorov.ru</a></h6></td>
                    </tr>
                </table>
            </div>

        </td>
        <td style="margin: 0;padding: 0;"></td>
    </tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table style="margin: 0;padding: 0;width: 100%;">
    <tr style="margin: 0;padding: 0;">
        <td style="margin: 0;padding: 0;"></td>
        <td bgcolor="#FFFFFF" style="margin: 0 auto!important;padding: 0;display: block!important;max-width: 600px!important;clear: both!important;">

            <div style="margin: 0 auto;padding: 15px;max-width: 600px;display: block;">
                <table style="margin: 0;padding: 0;width: 100%;">
                    <tr style="margin: 0;padding: 0;">
                        <td style="margin: 0;padding: 0; text-align: justify;">
                            <h1 style="margin: 0;padding: 0;font-family: &quot;HelveticaNeue-Light&quot;, &quot;Helvetica Neue Light&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;line-height: 1.1;margin-bottom: 15px;color: #000;font-weight: 500;font-size: 27px;text-align:left;">{% block title %}{% endblock %}</h1>
                            {% block body %}{% endblock %}
                            <!-- social & contact -->
                            <table width="100%" style="margin: 20px 0 0 0;padding: 0;background-color: #ebebeb;width: 100%;">
                                <tr style="margin: 0;padding: 0;">
                                    <td style="margin: 0;padding: 0;">




                                        <!-- column 2 -->
                                        <table align="left" style="margin: 0;padding: 0;width: 280px;float: left;min-width: 279px;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td style="margin: 0;padding: 15px;">

                                                    <h5 style="margin: 0;padding: 0;font-family: &quot;HelveticaNeue-Light&quot;, &quot;Helvetica Neue Light&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;line-height: 1.1;margin-bottom: 15px;color: #000;font-weight: 900;font-size: 17px;">Наши контакты:</h5>
                                                    <p style="margin: 0;padding: 0;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;">
                                                        <b>Интернет-магазин</b><br>
                                                        8&nbsp;(846)&nbsp;310&#8209;24&#8209;50,&nbsp;310&#8209;24&#8209;70<br>
                                                        <a href="mailto:magazin@fedoroff.ru" style="margin: 0;padding: 0;color: #2BA6CB;">magazin@fedoroff.ru</a>
                                                    </p>
                                                    <p style="margin: 0;padding: 0;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;">
                                                        <b>Редакция сайта</b><br>
                                                        8&nbsp;(846)&nbsp;310&#8209;24&#8209;65<br>
                                                        <a href="mailto:info@idfedorov.ru" style="margin: 0;padding: 0;color: #2BA6CB;">info@idfedorov.ru</a>
                                                    </p>

                                                </td>
                                            </tr>
                                        </table><!-- /column 2 -->



                                        <!-- column 1 -->
                                        <table align="left" style="margin: 0;padding: 0;width: 280px;float: left;min-width: 279px;">
                                            <tr style="margin: 0;padding: 0;">
                                                <td style="margin: 0;padding: 15px;">
                                                    <h5 style="margin: 0;padding: 0;font-family: &quot;HelveticaNeue-Light&quot;, &quot;Helvetica Neue Light&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, &quot;Lucida Grande&quot;, sans-serif;line-height: 1.1;margin-bottom: 15px;color: #000;font-weight: 900;font-size: 17px;">Присоединяйтесь к нам:</h5>
                                                    <p style="margin: 0;padding: 0;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;"><a href="http://www.facebook.com/pages/%D0%9C%D1%8B-%D0%B7%D0%B0%D0%BD%D0%BA%D0%BE%D0%B2%D1%86%D1%8B/186060494741202?sk=wall" style="margin: 0;padding: 3px 7px;color: #FFF;font-size: 14px;margin-bottom: 10px;text-decoration: none;font-weight: bold;display: block;text-align: center;background-color: #3B5998!important;">Facebook</a> <a href="http://vk.com/zankovru" style="margin: 0;padding: 3px 7px;color: #FFF;font-size: 14px;margin-bottom: 10px;text-decoration: none;font-weight: bold;display: block;text-align: center;background-color: #1daced!important;">Вконтакте</a> <a href="http://www.youtube.com/user/SistemaZankova?feature=mhum" style="margin: 0;padding: 3px 7px;color: #FFF;font-size: 14px;margin-bottom: 10px;text-decoration: none;font-weight: bold;display: block;text-align: center;background-color: #DB4A39!important;">Youtube</a></p>


                                                </td>
                                            </tr>
                                        </table><!-- /column 1 -->



                                        <span style="margin: 0;padding: 0;display: block;clear: both;"></span>

                                    </td>
                                </tr>
                            </table><!-- /social & contact -->

                        </td>
                    </tr>
                </table>
            </div><!-- /content -->

        </td>
        <td style="margin: 0;padding: 0;"></td>
    </tr>
</table><!-- /BODY -->

<!-- FOOTER -->
<table style="margin: 0;padding: 0;width: 100%;clear: both!important;">
    <tr style="margin: 0;padding: 0;">
        <td style="margin: 0;padding: 0;"></td>
        <td style="margin: 0 auto!important;padding: 0;display: block!important;max-width: 600px!important;clear: both!important;">

            <!-- content -->
            <div style="margin: 0 auto;padding: 15px;max-width: 600px;display: block;">
                <table style="margin: 0;padding: 0;width: 100%;">
                    <tr style="margin: 0;padding: 0;">
                        <td align="center" style="margin: 0;padding: 0;">
                            <p style="margin: 0;padding: 0;margin-bottom: 10px;font-weight: normal;font-size: 14px;line-height: 1.6;">
                                <a href="//idfedorov.ru/advert/" style="margin: 0;padding: 0;color: #2BA6CB;">Рекламодателям</a> |
                                <a href="//idfedorov.ru/rights/" style="margin: 0;padding: 0;color: #2BA6CB;">Правовая информация</a> |
                                <a href="//idfedorov.ru/my/data/" style="margin: 0;padding: 0;color: #2BA6CB;"><unsubscribe style="margin: 0;padding: 0;">Настройки подписки</unsubscribe></a>
                            </p>
                        </td>
                    </tr>
                </table>
            </div><!-- /content -->

        </td>
        <td style="margin: 0;padding: 0;"></td>
    </tr>
</table><!-- /FOOTER -->

</body>
</html>
