<div id="sidebar-wrapper" style="margin-top: 39px;">
    <ul class="sidebar-nav">

        <li class="menu_li dropdown" data-dropdown="company">
            <div style="position: relative;">
                <a href='javascript:void(0);' class="menu_link"><i class="fa fa-institution sidebar_icon fa-fw"></i> Компании {{ globals.company.owner_count }}</a>
                {% if globals.company_owner_count < 1 %}
                <div style="position: absolute;top:0;right:15px;">
                    <a href="/users/registration/create_company" style="display: inline-block !important;text-indent: 2px;padding-right: 4px;"><i class="fa fa-plus"></i></a>
                </div>
                {% endif %}
                <ul class="submenu dropdowncompany" id="company_panel_ul" style="max-height: 115px;overflow-x:hidden;overflow-y: auto;">
                {% for k,c in globals.company %}
                    <li class="menu_sub_li disable_active_change {% if globals.current_company == c.id %}active{% endif %}" style="text-indent: 0;">
                        <a href="{{ c.name|subdomain }}" class="menu_sub_link">{{c.name}}</a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </li>
        {% for k,m in globals.menu %}
            {% if k != "crumbs"%}
                <li data-dropdown="{{ k }}" id='menu_li_{{ k }}' class="menu_li {% if m.active or globals.menu.crumbs[m.id] %}active{% endif %} {% if m.category or m.path == "/projects/" %}dropdown{% endif %}" {% if m.path == '/users/logout/' %}style="margin-top: 30px;" {% endif %}>
                    <div style="position: relative;">
                        <a {% if m.clickable and (m.application or m.type == 'link') %}href="{% if m.type == 'link' %}{% endif %}{{m.path}}"{% else %}href='javascript:void(0);'{% endif %} class="pajax menu_link menu{{m.path|replace({"/":"_"})}}" {% if m.new_window %}target="_blank"{% endif %}>
                            {% if m.path == '/projects/' %}<i class="fa fa-tasks sidebar_icon fa-fw"></i>{% endif %}
                            {% if m.path == '/projects/dashboard/' %}<i class="fa fa-tachometer sidebar_icon fa-fw"></i>{% endif %}
                            {% if m.path == '/projects/calendar/' %}<i class="fa fa-calendar sidebar_icon fa-fw"></i>{% endif %}
                            {% if m.path == '/users/' %}<i class="fa fa-users sidebar_icon fa-fw"></i>{% endif %}
                            {% if m.path == '/projects/logs/' %}<i class="fa fa-eye sidebar_icon fa-fw"></i>{% endif %}
                            {% if m.path == '/projects/comments/' %}<i class="fa fa-rss sidebar_icon fa-fw"></i>{% endif %}
                            {% if m.path == '/users/messages/' %}<i class="fa fa-comments sidebar_icon fa-fw"></i>{% endif %}
                            <span class="sidebar_link">{{m.name}}</span>
                        </a>
                        {% if m.path == "/projects/" %}
                            <div style="position: absolute;top:0;right:15px;">
                                {% if access.add_project or access.add_own_project or globals.access.add_project or globals.access.add_own_project %}
                                    <a href="/projects/add/" class="pajax {% if add %}active{% endif %}" style="display: inline-block !important;text-indent: 2px;padding-right: 4px;"><i class="fa fa-plus"></i></a>
                                {% endif %}
                            </div>
                        {% endif %}</div>
                        {% if m.category %}
                            <ul class="submenu dropdown{{ k }}" >
                            {% for s,sub in m.category %}
                                <li id="menu_sub_li_{{ s }}" class="menu_sub_li menu{{sub.path|replace({"/":"_"})}} {% if sub.active or globals.menu.crumbs[sub.id] %}active{% endif %}" style="text-indent: 0;">
                                    <a {% if sub.clickable %}href="{{sub.path}}"{% else %}href='javascript:void(0);'{% endif %} class="pajax menu_sub_link menu{{sub.path|replace({"/":"_"})}}" {% if m.new_window %}target="_blank"{% endif %}>{{sub.name}}</a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                            {% if m.path == "/projects/" %}
                                <ul id="project_panel_ul" style="max-height: 210px;overflow-x:hidden;overflow-y: auto;" class="submenu dropdown{{ k }}" >[[projects__get_projects]]</ul>
                            {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>