<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ app.path('/source/css/bootstrap/css/','bootstrap.css',true) }}" rel="stylesheet">
    <link href="{{ app.path('/source/css/bootstrap/css/','bootstrap-theme.css',true) }}" rel="stylesheet">
    <link href="{{ app.path('/source/css/','index.css',true) }}" rel="stylesheet">
    <link href="{{ app.path('/source/css/','plugins.css',true) }}" rel="stylesheet">
    <script src="//yastatic.net/jquery/2.1.4/jquery.min.js"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block css %}
    {% endblock %}
    <style>
        .container {
            width: 100% !important;
        }
    </style>
</head>

<body>
<div class="container" style="padding-bottom: 60px;{% if not globals.user %}padding-top:60px;{% endif %}">
    <div class="row">
        <div class="{% if not hide_sidebar %}col-md-8{% else %}col-md-12{% endif %}">
            {% block body %}{% endblock %}
        </div>

        {% if not hide_sidebar %}
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">{% block sidebar_title %}Информация{% endblock %}</div>
                <div class="panel-body">
                    {% block sidebar %}{% endblock %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
<script src="{{ app.path('/source/js/','functions.js',true) }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% block js %}
{% endblock %}
</body>
</html>
