{% if invite_send_button %}

<form action="" id="search_form" method="post">
    <input type="hidden" value="" name="page">
    <div class="input-group col-xs-6" style="padding-left: 0;margin-bottom: 5px;">
      <input type="text" name="search" class="form-control" placeholder="Поиск">
      <span class="input-group-btn">
        <input type="button" class="btn btn-primary" id="invite_user" data-mode="search_form" value="Пригласить в компанию" style="height: 30px;margin-left: 10px;padding-top: 4px;">
      </span>
    </div>
</form>
{% else %}
<form action="" id="search_form" method="post">
    <input type="hidden" value="" name="page">
    <div class="form-group col-xs-6" style="padding-left: 0;">
        <input type="text" name="search" class="form-control" placeholder="Поиск">
    </div>
    <input type="hidden" name="page" value="">
</form>
{% endif %}
<div class="clearfix"></div>