{% if globals.user %}
    <li class="dropdown {% if globals.router_path == '/users/profile/' %}active{% endif %}">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ globals.user.fio }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="/users/profile">Мои данные</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/users/logout">Выйти из системы</a></li>
        </ul>
    </li>
{% endif %}
