{% extends "/source/wrapper_index.html" %}

{% block css %}
    <link rel="stylesheet" href="{{ app.path('/source/css/','blank.css',true) }}" type="text/css" />
{% endblock %}

{% block menu %}{% endblock %}
{% block right_sidebar %}{% endblock %}
{% block top_menu %}{% endblock %}

{% block body %}
    <div id="content" style="margin: 50px;">
        <div class="panel panel-default">
            <div class="panel-heading"><b>{% block info_title %}{% endblock %}</b></div>
            <div class="panel-body">
                {% block info %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}