<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Диагностика стартовой готовности к обучению в начальной школе. Стартовая готовность – это совокупность умений и личностных характеристик, которые позволяют ребенку осваивать учебный материал и включаться в образовательные ситуации, которые создает для него педагог.">
    <title>{{ settings.site_name.value }} | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="{{ app.path('/source/css/','index.css',true) }}" rel="stylesheet">
    <link href="{{ app.path('/source/css/','plugins.css',true) }}" rel="stylesheet">
    <script src="//yastatic.net/jquery/2.1.4/jquery.min.js"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block css %}
    {% endblock %}
</head>
<body>
<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter38091865 = new Ya.Metrika({ id:38091865, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/38091865" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="/" style="color:#fff;">{{ settings.site_name.value }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown {% if globals.type == 1 %}active{% endif %}">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Школьный старт <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/ug/start"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Мои группы</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/uploads/Met_Start_2016.pdf" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Методические рекомендации</a></li>
                        <li><a href="/uploads/howtoStart.pdf"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> Инструкция &laquo;Школьный старт&raquo;</a></li>
                        <li><a href="/info"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Справка</a></li>
                    </ul>
                </li>
                <li class="dropdown {% if globals.type == 2 %}active{% endif %}">
                    <a href="/ug/uud" data-toggle="dropdown" class="dropdown-toggle"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Учимся Учиться и Действовать <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/ug/uud"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> Мои классы</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="//idfedorov.ru/diagnosticsandmonitoring/monitoringofuud/article=4503/" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Методические рекомендации 1 класс</a></li>
                        <li><a href="//idfedorov.ru/diagnosticsandmonitoring/monitoringofuud/page=2/category=234217/article=3716/" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Методические рекомендации 2 класс</a></li>
                        <li><a href="//idfedorov.ru/diagnosticsandmonitoring/monitoringofuud/article=4620/" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Методические рекомендации 3 класс</a></li>
                        <li><a href="//idfedorov.ru/diagnosticsandmonitoring/monitoringofuud/article=5360/" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Методические рекомендации 4 класс</a></li>
                        <li><a href="//idfedorov.ru/diagnosticsandmonitoring/monitoringofuud/article=5889/" target="_blank"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Методические рекомендации 5 класс</a></li>
                        <li><a href="/info/uud_manage_grades/"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Справка</a></li>
                    </ul>
                </li>
                {% include "/source/user-menu.html" %}
            </ul>
            {% if globals.user %}
			<ul class="nav navbar-nav navbar-right">
                <li><a href="/feedback"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Обратная связь</a></li>
			</ul>
            {% endif %}
			<!--<a href="//idfedorov.ru/contests/article=5763/" target="_blank" class="btn btn-warning navbar-btn" style="float: right;">Конкурс</a>-->
		</div>
    </div>
</nav>

{% if globals.user and not hide_crumbs %}
<div class="container-fluid" style="padding-top: 60px;">
{% block crumbs %}
    {% include "/source/crumbs.html" %}
{% endblock %}
</div>
{% endif %}

<div class="container-fluid" style="padding-bottom: 60px;{% if not globals.user or hide_crumbs %}padding-top:60px;{% endif %}">
    <div class="row">
        {% if not left_sidebar %}
			<div class="{% if not hide_sidebar %}col-xs-8{% else %}col-xs-12{% endif %}">
				{% block body %}{% endblock %}
			</div>

			{% if not hide_sidebar %}
			<div class="col-xs-4">
				<div class="panel panel-info">
					{% if not no_title_sidebar %}<div class="panel-heading">{% block sidebar_title %}<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Подсказка{% endblock %}</div>{% endif %}
					<div class="panel-body">
						{% block sidebar %}{% endblock %}
					</div>
				</div>
			</div>
			{% endif %}
        {% else %}
            {% if not hide_sidebar %}
                <div class="col-xs-4">
                    <div class="panel panel-default">
                        {% if not no_title_sidebar %}<div class="panel-heading">{{ block('sidebar_title') }}</div>{% endif %}
                        
                            {{ block('sidebar') }}
                        
                    </div>
                </div>
            {% endif %}
            <div class="{% if not hide_sidebar %}col-xs-8{% else %}col-xs-12{% endif %}">
                {{ block('body') }}
            </div>
        {% endif %}
    </div>
</div>
<footer>
    <nav class="navbar navbar-inverse navbar-bottom" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li {% if '/terms_conditions/' == globals.router_path %}class="active"{% endif %}><a href="/terms_conditions">Условия и соглашения</a></li>
                    <li {% if '/contacts/' == globals.router_path %}class="active"{% endif %}><a href="/contacts">Контакты и обратная связь</a></li>
                    <li {% if '/info/about/' == globals.router_path %}class="active"{% endif %}><a href="/info/about/">О диагностическом комплекте “Школьный старт”</a></li>
                    {% if globals.user %}
                        <!--<li {% if '/info/' in globals.router_path and globals.router_path != '/info/about/'%}class="active"{% endif %}><a href="/info">Справка</a></li>-->
                    {% endif %}
                    {% if globals.user.id_group == 1 %}
                        <li><a href="/admin" target="_blank">Админка</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="footer_copy">
                © «Школьный старт», 2016. Все права на любые материалы, опубликованные на сайте, защищены в соответствии с российским и международным законодательством об авторском праве и смежных правах.
                Использование любых аудио-, фото- и видеоматериалов, размещенных на сайте, допускается только с разрешения правообладателя и ссылкой на сайт «Школьный старт». При полной или частичной перепечатке текстовых материалов в интернете гиперссылка на «http://monitor.idfedorov.ru» обязательна. Адрес электронной почты для контакта с нами: <a href="mailto:info@idfedorov.ru">info@idfedorov.ru</a>. 0+
            </div>
        </div>
    </nav>
</footer>
<script src="{{ app.path('/source/js/','functions.js',true) }}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% block js %}
{% endblock %}
</body>
</html>
