#male {
    background: url("/source/images/male.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 25px;
    width: 25px;
}


#male.select {
    background: url("/source/images/male_select.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#female {
    background: url("/source/images/female.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    display: inline-block;
    height: 25px;
    width: 25px;
}

#regForm,#reg_form_create_company {
    margin: 0 auto;
}

#female.select {
    background: url("/source/images/female_select.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#regForm .reg_erroru,#reg_form_create_company .reg_erroru {
    color: red;
    font-weight: bold;
    display: none;
}

#regForm #captcha_name, #reg_form_create_company #captcha_name {
    font-weight: bold;
}

#regForm input.error, .body_reg #captcha.error,.body_reg #gender.error,#reg_form_create_company input.error, .body_reg #captcha.error,.body_reg #gender.error {
    background: #FFC1C1 !important;
}

#wrapper {
    padding-left: 0 !important;
}

.radio {
    display: inline-block;
}